.notice_container{
    width: 930px;
    position: relative;
    border: var(--border_basic);
    border-radius: var(--border_radius_4);
    padding: 40px 50px;
    background-color: var(--color_beige);
    box-sizing: border-box;
}
.inner_container .type{
    color: #2d2d2d;
    font-size: 14px;
}
.inner_container .title{
    font-size: 35px;;
}
.notice_container .info_container{
    margin: 15px 0px 4px;
}
.inner_container .info_box{
    float: left;
    display: flex;
    gap: 10px;
    vertical-align: center;
}
.notice_container .info_box .profile_box{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: #d9fff3;
    border-radius: 50%;
    border-width: 1px solid;
    border-color: rgba(121, 119, 119, 0.529);
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 70px 40px;
    background-position: -20px 0;
    background-repeat: no-repeat;
}
.notice_container .info_box .writer,
.notice_container .info_box .date,
.notice_container .info_box .views{
    color: #2d2d2d;
}
.notice_container .info_box .icon_view{
    width: 20px;
    height: 20px;
    background-image: url(../../img/view.png);
    background-size: 20px;
    background-repeat: no-repeat;
    border: none;
    margin-right: -10px;
}
.notice_container .setting_box .update,
.notice_container .setting_box .delete{
    color: #626262

}
.info_container .setting_box{
    float: right;
    display: flex;
    gap: 15px;
}
.notice_container .content_container{
    width: 100%;
    min-height: 500px;
    padding: 20px 0px;
}
.notice_container .to_list{
    width: 100%;

}
.notice_container .btn_list{
    width: 130px;
    height: 35px;
    background-color: #fff;
    border-radius: var(--border_radius_3);
    border: 1px solid black;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 2px 2px 5px var(--color_light-grey);
    text-align: center;
    line-height: 35px;
    
}