.daliy_mission_container {
    border: var(--border_basic);
    border-radius: var(--border_radius_4);
  }
  .today_mission {
    border: var(--border_basic);
    border-radius: var(--border_radius_4);
    background-color: var(--color_mint);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding: 20px 20px;
    box-shadow: var(--box-shadow);
  }
  
  .today_mission_title {
    font-weight: bold;
    font-size: 18px;
    margin: 20p 1px;
    padding-top: 20px;
  }
  .today_mission_date {
    font-size: 15px;
  }
  
  .today_mission_contents {
    font-weight: bold;
    margin-left: 350px;
  }
  
  .today_mission_button {
   margin-left: 510px;
   margin-top: 20px;
   font-weight: bold;
  }
  
  .mbutton1 {
    border: var(--border_light);
    border-radius: var(--border_radius_2);
    background-color: var(--color_blue);
    padding: 8px 8px;
  }
  
  .mbutton2 {
    border: var(--border_light);
    border-radius: var(--border_radius_2);
    background-color: var(--color_mint);
    padding: 8px 8px;
  }
  
  .success_percent2, .mint{
    margin-left: 30px;
  }
  
  .daliy_mission_pro_container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
  
  }
  .daliy_mission_pro {
    margin-top: 30px;
    border: var(--border_basic);
    border-radius: var(--border_radius_4);
    width: 19%;
    height: 170px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .pro_img {
    background-image: url(../img/profile_img.png);
    width: 80px;
    height: 80px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left:30px;
    margin-top: 30px;
    position: relative; 
  }
  
  .pro-img-check {
    background-image: url('../img/stamp_blue.png'); 
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    position: absolute; 
    top: 62px;
    left: 49px;
    z-index: 1;
  }
  .pro_name{
    font-weight: bold;
    margin-left: 43px;
    margin-top: 30px;
  }
  
  .progress_container {
    margin-left: 25px;
  }