:root {
  /* color */
  --color_blue: #66a0e2;
  --color_yellow: #f0ea58;
  --color_mint: #01f3a3;
  --color_black: #020a17;
  --color_beige: #fcf4ed;
  --color_light-grey: #bfbfbf;
  --color_grey: #626262;

  /* size */
  --body_size: 1200px;

  /* border */
  --border_basic: 3px solid #020a17;
  --border_light: 1px solid #bfbfbf;

  /* border-radius */
  --border_radius_1: 50%;
  --border_radius_2: 30px;
  --border_radius_3: 20px;
  --border_radius_4: 10px;

  /* font */
  --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  /* font-siz는 각자 알아서 넣기!!*/

  --box-shadow: 5px 5px 0px rgb(7, 7, 7);
}

/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
  /* 추가(주연) 2023-02-15 
  배경 추가로 인한 body 속성 추가입니다. height는 해당 페이지에 알맞게 조정해주세요*/
  height: 1375px;
  position: relative;
}
/* 추가(세영) 2023-02-10 */
.display_none{
  display: none;
}
.clearfix::after{
  clear: both; display: block; content: '';
}
a{color: var(--color_black);}
.container{
  width: 1200px; margin: 0 auto;
}
/* 추가(주연): 로고 아이콘 2023-02-10 */
.btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  /* 수정(주연): 로고 아이콘 2023-02-11 */
  background-size: 58px 58px;
  background-position: -10px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
/* 추가(순연)*/
.add_shadow {box-shadow: 5px 5px 0px rgb(7, 7, 7);}


/* background */
.background_bbls{
  position: absolute;
  height: 100%;
  top: 279px;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden;
}
.background_bbls .bubble{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: var(--border_radius_1);
  background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
  top: 927px;
  left: -385px;
  background-color: var(--color_blue);
  width: 1600px;
  height: 1600px;
}
.big_bbls .bubble:nth-child(2){
  top: 673px;
  left: 988px;
  background-color: var(--color_mint);
  width: 1080px;
  height: 1080px;
  z-index: -20;
}
.big_bbls .bubble:nth-child(3){
  top: 1075px;
  left: 863px;
  background-color: var(--color_yellow);
  width: 1290px;
  height: 1290px;
}
.big_bbls .bubble:nth-child(4){
  top: 966px;
  left: 804px;
  background-color: var(--color_black);
  width: 300px;
  height: 300px;
  z-index: -30;
  opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
  top: 124px;
  left: -114px;
  background-color: var(--color_mint);
  width: 400px;
  height: 400px;
}
.small_bbls .bubble:nth-child(2){
  top: 77px;
  left: 1616px;
  background-color: var(--color_yellow);
  width: 250px;
  height: 250px;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* header */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
  background-color: var(--color_beige);
  z-index: 100;
  top: 0;
}
header #header_container {
  display: flex;
  justify-content: space-between;
  width: var(--body_size);
  padding: 10px 0 10px 10px;
  border-radius: var(--border_radius_3);

box-sizing: border-box;
font-weight: 800;
}
#header_container .header_left{
  display: flex;
  gap: 80px;
}
.btn_home {
display: flex;
width: 66px;
height: 50px;
font-size: 14px;
font-weight: 800;
line-height: 80px;
overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 58px 58px;
  background-position: -9px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.top_menu_container{
width: 230px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 15px;
}
#header_container .header_right{
display: flex;
align-items: center;
}
.mypage_container .mypage .icon_mypage{
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color_mint);
  border-radius: 50%;
  background-size: 61px 40px;
  background-position: -9px 0;
  background-image: url(../img/profile_img.png);
  background-repeat: no-repeat;
}
main{
  width: var(--body_size);
  margin: 0 auto;
  margin-top: 100px;
}

/* footer */
footer{
  margin-top: 150px;
}
footer .container{
  width: 1200px; 
  margin: 0 auto; 
  padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
  float: left;
  width: 300px;
  height: 180px;
}
.direct_num_box .list_tel{
  margin-top: 5px;
}
.direct_num_box .item_tel{
  margin-left: 10px;
}
.direct_num_box .link_tel{
  font-size: 18px;
  margin-top: 3px;
  display: inline-block;
}
.info_container .info_right_container{
  float: right;
}
.info_container .info_box_right{
  float: left;
  width: 140px;
  height: 180px;
  margin-right: 20px;
}
.info_container .info_box_right .info_title{
  margin-bottom: 5px;
}
.info_container .info_box_right li{
  padding-top: 5px;
}
footer .corp_container{
  margin-top: 10px;
}
footer .corp_container .link_corp{
  padding-left: 7px;
  font-size: 13px;
}
footer .corp_container .link_corp::before{
  width: 1px;
  height: 11px;
  content: '';
  display: inline-block;
  margin-right: 10px;
  background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
  padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
  display: none;
}


/* main div */
.main_container{
  display: flex;
  flex-flow: row; 
  height : 1100px;
}

/* 왼쪽 메뉴바 */
.left_menu_container{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  padding: 40px 0;
  border: 2px solid #020a17;
  border-radius: var(--border_radius_2);
  box-sizing: border-box;
  background-color: var(--color_beige);
}
.left_menu_container .left_menu{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 15px;
  font-weight: 800;
}
.leave {
  position: relative;
  bottom: -120px;
  left: 5px;
} 
.left_menu a:visited {
  font-weight: bold; 
  /*클릭했을때 굵어지면서 검정색으로 바뀌게 나중에 수정 */
}
/* 컨텐츠 */
.home_container {
  float: left;
  width: 709px;
  margin-left: 30px;
  margin-right: 30px;
}

/* 캘랜더  */
.calendar_container {
  border: var(--border_basic);
  border-radius: var(--border_radius_4);
  width: 704px;
  height: 510px;
  margin-right: 30px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}
.fc-theme-standard {
  min-width: 300px;
  height: 500px;
}
.fc-scroller.fc-scroller-liquid::-webkit-scrollbar {
  width: 8px;
}
.fc-scroller.fc-scroller-liquid::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.fc-scroller.fc-scroller-liquid::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
/* 캘랜더 탭 */
.tabs {
  position: relative;
  /* height: 39px; */
}
.tab {
  border: var(--border_basic);
  border-radius: var(--border_radius_4);
  display: flex;
  flex-direction: column;
  width: 16%; 
  box-sizing: border-box;
  text-align: center; 
  font-size: 12px;
  position: absolute;
  top: 0;
  z-index: 3;
  border-radius: 5px;
}
.tab:nth-child(2) {
  left: 109px;
  z-index: 2;
}
.tab:nth-child(3) {
  left: 216px;
  z-index: 1;
}
.tab input[type="radio"]:checked + label {
  background-color: var(--color_blue); 
}
input[type="radio"] {
  display: none;
}
.tab1,.tab2,.tab3 {
  padding: 10px 20px;
  background-color: lightgray;
  cursor: pointer;
}
.tab-content {
  padding: 20px;
  background-color: white;
  display: none;
}
input[type="radio"]:checked + label {
  background-color: white;
}
input[type="radio"]:checked ~ .tab-content {
  display: block;
}

/* 미들 컨테이너 */
.middle_container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap:24px;
}
.time_line_container{
  grid-column: 2;
  grid-row:1/3;
  background-color: var(--color_beige);
}
.time_line_container .timeline_box_title{
  background-color: var(--color_mint);
}
.middle_container 
.todo_container,
.time_line_container,
.free_board{
  border: var(--border_basic);
  box-shadow: var(--box-shadow);
  border-radius: var(--border_radius_4);
}
.middle_container
.todo_box_title,
.timeline_box_title,
.free_box_title{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.middle_container .todo_box_content,
.middle_container .feed_content_box,
.middle_container .board_content_box{
  padding: 0px 14px 16px 14px;
}
.feed_content_box{
  overflow: auto;
  height: 513px;
}
.plus1,.plus2,.success_percent{color: rgb(66, 65, 65);}

/* 스크롤바 */
.plus1,.plus2{font-size: 12px; line-height: 2em;}
.feed_content_box::-webkit-scrollbar,
.todo_list::-webkit-scrollbar,
.board_content_box::-webkit-scrollbar{
  width: 10px;
}
.feed_content_box::-webkit-scrollbar-thumb,
.todo_list::-webkit-scrollbar-thumb,
.board_content_box::-webkit-scrollbar-thumb {
  background-color: #b8b8b8f0;
  border-radius: 5px;
}
.feed_content_box::-webkit-scrollbar-track,
.board_content_box::-webkit-scrollbar-track {
  background-color: rgba(176, 20, 20, 0);
}

/* 투두 */
.todo_container{background-color: var(--color_beige);}

.todo_container .todo_box_title{background-color: var(--color_blue);}
.input_container{
  margin-top: 5px;
  height: 25px;
  display: flex;
}
.input_box{
  border: 1px solid rgba(174, 172, 172, 0.005);
  width: 100%;
  padding: 0px 5px 0px 5px;
  font-size: 12px;
}
.middle_container .todo_box_content{
  height: 273px;
}
.btn_plus{
  background-color: #c4c0c098;
  text-align: center;
  padding: 4px 7px 0 7px;
  cursor: pointer;
}
.todo_list{
  height: 216px;
  overflow: auto;
}
.success_percent{text-align: right;}
.progress{
  width: 100%;
  height: 25px;
}
.success_percent{
  font-size: 12px;
}
.material-icons{
font-size: 16px;
cursor: pointer;
}
.check{color: var(--color_mint) }
.clear{color: salmon;}
.todo_list li {
  margin: 10px 0 16px;
  display: flex;
  justify-content: space-between;
}
.todo_list li span .material-icons, .content {
  font-size: 20px;
}
.todo_content{
  font-size: 14px;
  color: rgb(46, 46, 46);
  width: 200px;
  text-align: left;
  line-height: 1.8em;
  flex:8;
}
.todo_check{flex:1;}
.todo_clear{flex: 1;}
.checked{
  list-style: none;
}
.selected{
  color: rgb(184, 184, 184);
  font: white;
}
.done{
  color: #161616;
  text-decoration: line-through;
  font-style: italic;
}

/* 오늘의 인증 */
.feed_writer_img {
  background-image: url(../img/profile_img.png);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: var(--border_radius_1);
  background-size: 50px 30px;
  background-position: -10px 0;
  background-repeat: no-repeat;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.feed_img{
  background-image: url(../img/certify_img.jpeg);
  background-size: cover;
  min-height: 270px;
  background-position: center;
  border-radius: var(--border_radius_4);
}
.feed_like_img {
  background-image: url(../img/like_off.png);
  width: 25px;
  height: 25px;
  border: none;
  border-radius: var(--border_radius_1);
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.feed_writer_box{
  padding: 12px 5px 0 5px;
  display: flex;
  text-align: center;
  line-height: 2.3em;
  margin-right: 0;
}
.feed_writer_img{flex: 2;}
.feed_writer_name{flex:3}
.feed_writer_name{
  text-align: left;
  font-size: 16px;
  margin-right: 120px;
  margin-bottom: 10px;
}
.feed_date{
  font-size: 10px;
}
.feed_content_box{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
}
.feed_like{
  display: flex;
  margin-left: 295px;
  width: 47px;
  height: 30px;
  justify-content: space-between;
  margin-top: 5px;
}
.feed_like_count{
  font-size: 18px;
  line-height: 1.8em;
}
.feed_content{
  justify-content: left;
  height: 30px;
  padding:5px;
  overflow: hidden;
  margin-bottom: 16px;
}

/* 자유 게시판 */
.free_board{
  background-color: var(--color_beige)
}
.free_box_title{
  background-color: var(--color_yellow)
}
.board_content_box{
  height: 137px;
  overflow: auto;
}
.board_item{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.7em;
}
.board_item span{
  font-size: 14px;
  height: 26px;
  overflow: hidden;
}
.circle_new{
  background-color: var(--color_mint);
  padding: 1px 5px;
  height: 20px;
  border-radius: 50%;
  font-size: 10px;
  margin-right: 5px;
  line-height: 2.2em;
}
.boardContainer{
  padding-top: 10px;
}






/* 오른쪽 부분*/
.study_link_container {
  padding-top: 43px;
  
}
.cc {
  border-radius: 40px;
}
.circle_now {
  width: 40px;
  height: 40px;
  position: relative;
  border: var(--border_basic);
  background-color: var(--color_blue);
  font-size: small;
  text-align: center;
  margin-bottom: 10px;
  transition: width 0.5s ease;
}
.circle_now:hover {
  width: 200px;
}
.now {
  left: 5px;
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.circle_star{
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  border: var(--border_basic);
  background-color: var(--color_mint);
  margin-bottom: 10px;
  transition: width 0.5s ease;
}
.circle_star:hover {
  width: 200px;
}
.circle_star img {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 4px;
}
.circle_my{
  width: 170px;
  height: 40px;
  background-color: var(--color_yellow);
}
.my_study_container{
  margin-bottom: 10px;
  position: relative;
}
.circle_my {
  width: 40px;
  height: 40px;
  background-color: var(--color_yellow);
  top: -2px;
  left: -2px;
  z-index: 3;
  text-align: center;
  position: absolute;
}
.my {
  float: left;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  line-height: 40px;
  margin-left: 10px;
}
.my_list_title {
  position: absolute;
  width: 40px;
  height: 37px;
  border: var(--border_basic);
  border-radius: 25px;
  background-color: var(--color_yellow);
  top: 0px;
  z-index: 2;
  text-align: center;
  position: relative;
  display: block;
  margin-left: 2px;
  transition: width 0.5s ease;
}
.my_list_title:hover {
  width: 200px;
}
.my_list_title:hover + #dropdown_list {
  display: block;
}
.my_study {
  float: right;
  margin-top: 10px;
  padding-left: 30px;
  font-weight: bold;
  margin-right: 20px;
}
#dropdown_btn {
  background-color: transparent;
  border: none;
  padding-left: 15px;
}
#dropdown_list {
  /* position: absolute; */
  font-size: 12px;
  top: 40px;
  border: var(--border_basic);
  border-radius: var(--border_radius_4);
  width: 145px;
  margin-left: 40px;
  margin-bottom: 14px;
  margin-top: -7px;
  background-color: var(--color_beige);
}
.dropdown_list_contents_title {
  padding-left: 2px;
  padding-top: 7px;
  padding-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 110px;
  margin-top: 6px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 10px;
}
.dropdown_list_contents_on_img {
  background-image: url(../img/favorite_star_on.png);
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.dropdown_list_contents_off_img {
  background-image: url(../img/favorite_star.png);
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.dropdown_list_contents_title + .dropdown_hr {
  border-top: var(--border_basic);
}
#dropdown_list .dropdown_list_ul  .dropdown_list_li .dropdown_list_contents  {
  display: flex;
  align-items: center;
}
.dropdown_list_contents {
  position: relative; /* div 요소에 position: relative 속성 추가 */
}
.dropdown_list_contents::after {
  content: ""; /* 가상 요소 내용 설정 */
  position: absolute; /* 가상 요소에 position: absolute 속성 추가 */
  bottom: 0; /* 가상 요소의 위치를 div 요소 아래로 설정 */
  left: 0; /* 가상 요소를 div 요소 왼쪽에 위치시킴 */
  width: 100%; /* 가상 요소 너비 설정 */
  height: 1px; /* 가상 요소 높이 설정 */
  background-color: black; /* 가상 요소 배경색 설정 */
}
  

/* 접속 인원 */
.accessor {
  background-color: var(--color_beige);
  border: var(--border_basic); 
  border-radius: var(--border_radius_4); 
  padding: 10px;
  width: 210px;
  min-height: 200px;
  box-sizing: border-box;
  overflow: auto;
  height: 520px;
}
.accessor_container {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  margin: 0;
}
.study_title{
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
.circle_accessor {
  width: 30px;
  height: 30px;
  background-color: white;
  border: var(--border_light);
  border-radius: var(--border_radius_1);
  position: relative;
  display: inline-block;  
  margin-left: 20px; 
}
.accessor_on {
  position: absolute;
  right: -1px;
  bottom: 4px;
  width: 8px;
  height: 8px;
  background-color: var(--color_mint);
  border: var(--border_light);
  border-radius: var(--border_radius_1);   
}
.your {
  color: var(--color_grey);
  font-size: 1px;
  vertical-align: 10px;  
  margin: 0;
}
.study_name {
  display: inline-block;
  vertical-align: 10px;  
  margin: 0; 
  font-weight: bold;
  padding-top: 16px;
}
.time_line_title{
  margin-left: 30px;
  font-weight: bold;
  font-size: 28px;
}
.time_line_container2 {
  margin-right:120px;
  border-radius: var(--border_radius_4);
  border: var(--border_basic);
  box-shadow: var(--box-shadow);
  float: right;
  width: 400px;
  overflow: auto;
  height: 600px;
  background-color: #fff;
}
.time_line_container2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.time_line_container2::-webkit-scrollbar-thumb {
  background-color: var(--color_black);
  border-radius: 10px;
}
.circle_btn {
  display: inline-block;
  background-color: var(--color_blue);
  color: var(--color_black);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 180px;
  right: 600px;
}


