.main_container {
	width: 1240px;
	display: flex;
	justify-content: space-between;
}

.home_container {
  float: left;
  margin-left: 2%;
}

.right-container {
  width: 117%;
  float: right;
}


.total_container{
	display:flex;
}
/* 오른쪽 부분*/
.study_link_container {
  padding-top: 43px;
  
}
.cc {
  border-radius: 40px;
}
.circle_now {
  width: 40px;
  height: 40px;
  position: relative;
  border: var(--border_basic);
  background-color: var(--color_blue);
  font-size: small;
  text-align: center;
  margin-bottom: 10px;
  transition: width 0.5s ease;
}
.circle_now:hover {
  width: 200px;
}
.now {
  left: 5px;
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.circle_star{
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
  border: var(--border_basic);
  background-color: var(--color_mint);
  margin-bottom: 10px;
  transition: width 0.5s ease;
}
.circle_star:hover {
  width: 200px;
}
.circle_star img {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 4px;
}
.circle_my{
  width: 170px;
  height: 40px;
  background-color: var(--color_yellow);
}
.my_study_container{
  margin-bottom: 10px;
  position: relative;
}
.circle_my {
  width: 40px;
  height: 40px;
  background-color: var(--color_yellow);
  top: -2px;
  left: -2px;
  z-index: 3;
  text-align: center;
  position: absolute;
}
.my {
  float: left;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  line-height: 40px;
  margin-left: 10px;
}
.my_list_title {
  position: absolute;
  width: 40px;
  height: 37px;
  border: var(--border_basic);
  border-radius: 25px;
  background-color: var(--color_yellow);
  top: 0px;
  z-index: 2;
  text-align: center;
  position: relative;
  display: block;
  margin-left: 2px;
  transition: width 0.5s ease;
}
.my_list_title:hover {
  width: 200px;
}
.my_list_title:hover + #dropdown_list {
  display: block;
}
.my_study {
  float: right;
  margin-top: 10px;
  padding-left: 30px;
  font-weight: bold;
  margin-right: 20px;
}
#dropdown_btn {
  background-color: transparent;
  border: none;
  padding-left: 15px;
}
#dropdown_list {
  /* position: absolute; */
  font-size: 12px;
  top: 40px;
  border: var(--border_basic);
  border-radius: var(--border_radius_4);
  width: 145px;
  margin-left: 40px;
  margin-bottom: 14px;
  margin-top: -7px;
  background-color: var(--color_beige);
}
.dropdown_list_contents_title {
  padding-left: 2px;
  padding-top: 7px;
  padding-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 110px;
  margin-top: 6px;
  margin-left: 10px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 10px;
}
.dropdown_list_contents_on_img {
  background-image: url(../img/favorite_star_on.png);
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.dropdown_list_contents_off_img {
  background-image: url(../img/favorite_star.png);
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.dropdown_list_contents_title + .dropdown_hr {
  border-top: var(--border_basic);
}
#dropdown_list .dropdown_list_ul  .dropdown_list_li .dropdown_list_contents  {
  display: flex;
  align-items: center;
}
.dropdown_list_contents {
  position: relative; /* div 요소에 position: relative 속성 추가 */
}
.dropdown_list_contents::after {
  content: ""; /* 가상 요소 내용 설정 */
  position: absolute; /* 가상 요소에 position: absolute 속성 추가 */
  bottom: 0; /* 가상 요소의 위치를 div 요소 아래로 설정 */
  left: 0; /* 가상 요소를 div 요소 왼쪽에 위치시킴 */
  width: 100%; /* 가상 요소 너비 설정 */
  height: 1px; /* 가상 요소 높이 설정 */
  background-color: black; /* 가상 요소 배경색 설정 */
}
  

/* 접속 인원 */
.accessor {
  background-color: var(--color_beige);
  border: var(--border_basic); 
  border-radius: var(--border_radius_4); 
  padding: 10px;
  width: 210px;
  min-height: 200px;
  box-sizing: border-box;
  overflow: auto;
  height: 520px;
}
.accessor_container {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  margin: 0;
}
.study_title{
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}
.circle_accessor {
  width: 30px;
  height: 30px;
  background-color: white;
  border: var(--border_light);
  border-radius: var(--border_radius_1);
  position: relative;
  display: inline-block;  
  margin-left: 20px; 
}
.accessor_on {
  position: absolute;
  right: -1px;
  bottom: 4px;
  width: 8px;
  height: 8px;
  background-color: var(--color_mint);
  border: var(--border_light);
  border-radius: var(--border_radius_1);   
}
.your {
  color: var(--color_grey);
  font-size: 1px;
  vertical-align: 10px;  
  margin: 0;
}
.study_name {
  display: inline-block;
  vertical-align: 10px;  
  margin: 0; 
  font-weight: bold;
  padding-top: 16px;
}
.time_line_title{
  margin-left: 30px;
  font-weight: bold;
  font-size: 28px;
}
.time_line_container2 {
  margin-right:120px;
  border-radius: var(--border_radius_4);
  border: var(--border_basic);
  box-shadow: var(--box-shadow);
  float: right;
  width: 400px;
  overflow: auto;
  height: 600px;
  background-color: #fff;
}
.time_line_container2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.time_line_container2::-webkit-scrollbar-thumb {
  background-color: var(--color_black);
  border-radius: 10px;
}
.circle_btn {
  display: inline-block;
  background-color: var(--color_blue);
  color: var(--color_black);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 180px;
  right: 600px;
}