:root {
	/* color */
	--color_blue: #66a0e2;
	--color_yellow: #f0ea58;
	--color_mint: #01f3a3;
	--color_black: #020a17;
	--color_beige: #fcf4ed;
	--color_light-grey: #bfbfbf;
	--color_grey: #626262;

	/* size */
	--body_size: 1200px;

	/* border */
	--border_basic: 2px solid #020a17;
	--border_light: 1px solid #bfbfbf;

	/* border-radius */
	--border_radius_1: 50%;
	--border_radius_2: 30px;
	--border_radius_3: 20px;
	--border_radius_4: 10px;

	/* font */
	--font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
		"맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
	--font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
		"맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

	/* box-shadow */
	--box-shadow: 5px 5px 0px rgb(7, 7, 7);
}

/* 공통 */
* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
body {
	height: 1063px;
	position: relative;
	background-color: var(--color_beige);
}
.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
.display_none{
	display: none;
}
.clearfix::after{
clear: both; display: block; content: '';
}
a{color: var(--color_black);}

.show_plus{
	position: absolute;
	right: 18px;
	font-size: 14px;
	margin-top: 10px;
}

/* background */
.background_bbls{
position: absolute;
height: 100%;
top: 338px;
display: flex;
width: 100%;
height: 100%;
z-index: -10;
overflow: hidden;
}
.background_bbls .bubble{
position: absolute;
width: 300px;
height: 300px;
border-radius: var(--border_radius_1);
background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
top: 670px;
left: -567px;
background-color: var(--color_blue);
width: 1600px;
height: 1600px;
}
.big_bbls .bubble:nth-child(2){
top: 570px;
left: 662px;
background-color: var(--color_mint);
width: 1080px;
height: 1080px;
z-index: -20;
}
.big_bbls .bubble:nth-child(3){
top: 751px;
left: 264px;
background-color: var(--color_yellow);
width: 1290px;
height: 1290px;
}
.big_bbls .bubble:nth-child(4){
top: 668px;
left: 614px;
background-color: var(--color_black);
width: 300px;
height: 300px;
z-index: -30;
opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
top: 124px;
left: -114px;
background-color: var(--color_mint);
width: 400px;
height: 400px;
}
.small_bbls .bubble:nth-child(2){
top: 77px;
left: 1367px;
background-color: var(--color_yellow);
width: 250px;
height: 250px;
}

/* 전체 container(header, main, footer) */
#total_container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

/* header */
header {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
	background-color: var(--color_beige);
	z-index: 100;
}
header #header_container {
display: flex;
justify-content: space-between;
width: var(--body_size);
padding: 10px 0 10px 10px;
border-radius: var(--border_radius_3);

box-sizing: border-box;
font-weight: 800;
}
#header_container .header_left{
display: flex;
gap: 80px;
}
.btn_home {
display: flex;
width: 66px;
height: 50px;
font-size: 14px;
font-weight: 800;
line-height: 80px;
overflow: hidden;
}
.btn_home .icon_home {
width: 40px;
height: 51px;
background-size: 58px 58px;
background-position: -9px -4px;
background-image: url(../img/rlab_logo.png);
background-repeat: no-repeat;
}
.top_menu_container{
width: 230px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 15px;
}
#header_container .header_right{
display: flex;
align-items: center;
}
.mypage_container .mypage .icon_mypage{
display: flex;
width: 40px;
height: 40px;
border: 2px solid var(--color_mint);
border-radius: 50%;
background-size: 61px 40px;
background-position: -9px 0;
background-image: url(../img/profile_img.png);
background-repeat: no-repeat;
}
header .list_item:hover{
	color: var(--color_mint);
}



 /* main */
 main{
	width: var(--body_size);
	margin: 0;
	margin-top: 130px;
}


 /* footer */
 footer{
	margin-top: 150px;
}
footer .container{
	width: 1200px; 
	margin: 0 auto; 
	padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
	float: left;
	width: 300px;
	height: 180px;
}
.direct_num_box .list_tel{
	margin-top: 5px;
}
.direct_num_box .item_tel{
	margin-left: 10px;
}
.direct_num_box .link_tel{
	font-size: 18px;
	margin-top: 3px;
	display: inline-block;
}
.info_container .info_right_container{
	float: right;
}
.info_container .info_box_right{
	float: left;
	width: 140px;
	height: 180px;
	margin-right: 20px;
}
.info_container .info_box_right .info_title{
	margin-bottom: 5px;
}
.info_container .info_box_right li{
	padding-top: 5px;
}
footer .corp_container{
	margin-top: 10px;
}
footer .corp_container .link_corp{
	padding-left: 7px;
	font-size: 13px;
}
footer .corp_container .link_corp::before{
	width: 1px;
	height: 11px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
	padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
	display: none;
}