:root {
/* color */
--color_blue: #66a0e2;
--color_yellow: #f0ea58;
--color_mint: #01f3a3;
--color_black: #020a17;
--color_beige: #fcf4ed;
--color_light-grey: #bfbfbf;
--color_grey: #626262;

/* size */
--body_size: 1200px;

/* border */
--border_basic: 3px solid #020a17;
--border_light: 1px solid #bfbfbf;

/* border-radius */
--border_radius_1: 50%;
--border_radius_2: 30px;
--border_radius_3: 20px;
--border_radius_4: 10px;

/* font */
 --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
   "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
 --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
   "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}
/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
/* 추가(주연) 2023-02-15 
배경 추가로 인한 body 속성 추가입니다. height는 해당 페이지에 알맞게 조정해주세요*/
   height: 1513px;
   position: relative;
 	}
/* 추가(주연) 2023-02-21 */
#total_container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: column;
   align-items: center;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/* 페이지네이션 기본값 */ 
.study_card_container .page_box .page_num a{
    line-height: 30px;
    font-size: 25px;
    color: var(--color_grey);
}
/*  현재 페이지 속성 */
.active{
	font-weight: 800;
	color: var(--color_black)!important;
}
/* 추가(세영) 2023-02-10 */
.display_none{
	display: none;
}
.clearfix::after{
	clear: both; display: block; content: '';
}
a{color: var(--color_black);}
.container{
	width: 1200px; margin: 0 auto;
}
/* 추가(주연): 로고 아이콘 2023-02-10 */
.btn_home {
    display: flex;
    width: 66px;
    height: 50px;
    font-size: 14px;
    font-weight: 800;
    line-height: 80px;
    overflow: hidden;
  }
.btn_home .icon_home {
   width: 40px;
   height: 51px;
   background-size: 60px 60px;
   background-position: -10px -5px;
	/* 수정(주연): 로고 아이콘 2023-02-11 */
   background-size: 58px 58px;
   background-position: -10px -4px;
   background-image: url(../img/rlab_logo.png);
   background-repeat: no-repeat;
}

.add_shadow {box-shadow: 5px 5px 0px rgb(7, 7, 7);}

a, button{
  cursor: pointer;
}
.remove_btn{
	position: absolute;
	display: flex;
	cursor: pointer;
	top: 3px;
    right: 3px;
	opacity: 40%;
	width: 12px;
	height: 12px;
}
.remove_btn:hover{
	opacity: 80%;
}



/* ----------------------------------------------------------------- */

/* header(기존) */
header {
	width: 100%;
	display: flex;
	position: fixed;
	justify-content: center;
	margin-bottom: 50px;
	background-color: var(--color_beige);
	z-index: 100;
	top: 0;  
}
header #header_container {
	display: flex;
	justify-content: space-between;
	width: var(--body_size);
	padding: 10px 0;
	/*padding: 10px 0 10px 10px;*/
	border-radius: var(--border_radius_3);
	box-sizing: border-box;
	font-weight: 800;
}
#header_container .header_left{
	display: flex;
	gap: 30px;
}
.btn_home {
	display: flex;
	width: 66px;
	height: 50px;
	font-size: 14px;
	font-weight: 800;
	line-height: 80px;
	overflow: hidden;
}
.btn_home .icon_home {
	width: 40px;
	height: 51px;
	background-size: 60px 60px;
	background-position: -10px -5px;
	background-image: url(../img/rlab_logo.png);
	background-repeat: no-repeat;
	
 /* width: 40px;
  height: 51px;
  background-size: 58px 58px;
  background-position: -9px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;*/
}
.top_menu_container{
	width: 230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
}

/* 로그인 전 */
#header_container .header_right{
	display: flex;
	align-items: center;
	width: 200px;
	flex-direction: row-reverse;
}

.login_modal, .signup_btn{
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  font-weight: 50;
}

.icon_mypage{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color_mint);
  border-radius: var(--border_radius_1);
  margin-right: 10px;
}

/* 로그인 후 */
#header_container .header_right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 50px;
}

.logout_box{
	display: flex;
	gap: 10px;
	align-items: center;
}
.logout_btn{
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	border-radius: var(--border_radius_4);
	font-size: 14px;
}

/* login_modal */
.modal_container{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.711);
  width: 100%;
  height: 100%;
  display: none;
}
.modal_area{
  position: relative;
  width: 463px;
  height: 331px;
  text-align: center;
  font-size: 18px;
  color: #2d2d2d;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 150px;
  padding: 40px;
  box-shadow: 5px 5px 10px rgb(48 46 46);
  box-sizing: border-box;
}

.login_remove{
	top: 7px;
    right: 8px;
    width: 22px;
    height: 22px;	
}
.login_box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.login_stay_box{
	display: flex;
	gap: 5px;
	font-size: 14px;
    margin-bottom: 4px;
}
.modal_area h2{
  text-align: center;
  margin-bottom: 14px;
  color: #2d2d2d;
}
.modal_area form{
  text-align: left;
  margin: auto;
}
.form_group .form_control{
  width: 273px;
  height: 40px;
  margin-bottom:10px;
  border-style: none;
  border-radius: 5px;
  padding-left: 5px;
  border: 0.5px solid rgba(121, 119, 119, 0.529);
}
.login_box .btn_outline_success{
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 20px;
  background-color: var(--color_mint);
  border-style: none;
  border-radius: 5px;
  color: white;
}
.btn_outline_success:hover{
	background-color: #12c78b;
}
.input_forms{
	width: 100%;
    height: 94px;
    justify-content: center;
    display: flex;
    gap: 10px;
}
.more_action{
  text-align: center;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.454);
}
.more_action_item{
  text-decoration: none;
  font-size: 12px;
  color: rgb(44, 44, 44);
  padding: 5px;
}
.more_action_item:hover{
	color: #141414;
	font-weight: 700;
}
.find_id_box form{
	margin-top: 52px;
}
.find_id_box .form_control{
	margin-bottom: 10px;
}
.find_id_box .btn_outline_success{
	background-color: var(--color_blue);
}


/*.close_btn{
  height: 20px;
  width: 10px;
  color: gray;
  float: right;
  margin-right:5px;
  padding: 8px 12px;
  text-align: center;
  line-height: 70%;
  font-size: 27px;
  font-weight: 50;
}*/
/* 알람 모달*/
.alarm_bell_box{
	position: relative;
}
.bell_dot{
	position: absolute;
}
.alram_img{
	cursor: pointer;
}
.alarm_modal {
  position: fixed;
  margin-top: 69px;
  margin-left: 890px;
  background-color: white;
  color: black;
  border-radius: 5px;
  display: none;
  z-index: 9998;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 7px #d5d2d2;
}

.modal_content{
	display: flex;
	position: relative;
	width: 100%;
	height: 49px;
    font-size: 14px;
    padding: 12px;
    box-sizing: border-box;
    background-color: white;
	border-bottom: 1px solid gray;
}
.read_content{
	background-color: #d5d2d2;
	align-items: center;
}
.modal_content:nth-last-child(-n + 1){
	border-bottom: none;
}
.modal_content:hover{
	cursor: pointer;
	background-color: #d5d2d2;
}
.alarm_content_box{
	width: 100%;
	display: flex;
	flex-flow: column;
}
.new_dot{
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: var(--border_radius_1);
}

.alarm_remove{
	
}

/* main */
main{
  width: var(--body_size);
  margin: 0 auto;
  margin-top: 130px;
}

/* footer */
footer{
  margin-top: 150px;
}
footer .container{
  width: 1200px; 
  margin: 0 auto; 
  padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
  float: left;
  width: 300px;
  height: 180px;
}
.direct_num_box .list_tel{
  margin-top: 5px;
}
.direct_num_box .item_tel{
  margin-left: 10px;
}
.direct_num_box .link_tel{
  font-size: 18px;
  margin-top: 3px;
  display: inline-block;
}
.info_container .info_right_container{
  float: right;
}
.info_container .info_box_right{
  float: left;
  width: 140px;
  height: 180px;
  margin-right: 20px;
}
.info_container .info_box_right .info_title{
  margin-bottom: 5px;
}
.info_container .info_box_right li{
  padding-top: 5px;
}
footer .corp_container{
  margin-top: 10px;
}
footer .corp_container .link_corp{
  padding-left: 7px;
  font-size: 13px;
}
footer .corp_container .link_corp::before{
  width: 1px;
  height: 11px;
  content: '';
  display: inline-block;
  margin-right: 10px;
  background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
  padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
  display: none;
}


