:root {
      /* color */
--color_blue: #66a0e2;
--color_yellow: #f0ea58;
--color_mint: #01f3a3;
--color_black: #020a17;
--color_beige: #fcf4ed;
--color_light-grey: #bfbfbf;
--color_grey: #626262;

/* size */
--body_size: 1200px;

/* border */
--border_basic: 3px solid #020a17;
--border_light: 1px solid #bfbfbf;

/* border-radius */
--border_radius_1: 50%;
--border_radius_2: 30px;
--border_radius_3: 20px;
--border_radius_4: 10px;

/* font */
 --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
   "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
 --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
   "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}
/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
/* 추가(주연) 2023-02-15 
배경 추가로 인한 body 속성 추가입니다. height는 해당 페이지에 알맞게 조정해주세요*/
   height: 1513px;
   position: relative;
 	}
/* 추가(주연) 2023-02-21 */
#total_container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-flow: column;
   align-items: center;
}
  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
/* 추가(세영) 2023-02-10 */
.display_none{
	clear: both; content: ''; display: block;
}
.clearfix::after{
	clear: both; display: block; content: '';
}
a{color: var(--color_black);}
.container{
	width: 1200px; margin: 0 auto;
}
/* 추가(주연): 로고 아이콘 2023-02-10 */
	.btn_home {
     display: flex;
     width: 66px;
     height: 50px;
     font-size: 14px;
     font-weight: 800;
     line-height: 80px;
     overflow: hidden;
   }
.btn_home .icon_home {
     width: 40px;
     height: 51px;
     background-size: 60px 60px;
		background-position: -10px -5px;
		/* 수정(주연): 로고 아이콘 2023-02-11 */
		background-size: 58px 58px;
    background-position: -10px -4px;
     background-image: url(../img/rlab_logo.png);
     background-repeat: no-repeat;
}



 /* header */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
  background-color: var(--color_beige);
  z-index: 100;
  top: 0;
}
header #header_container {
  display: flex;
  justify-content: space-between;
  width: var(--body_size);
  padding: 10px 0 10px 10px;
  border-radius: var(--border_radius_3);

box-sizing: border-box;
font-weight: 800;
}
#header_container .header_left{
  display: flex;
  gap: 80px;
}
.btn_home {
display: flex;
width: 66px;
height: 50px;
font-size: 14px;
font-weight: 800;
line-height: 80px;
overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 58px 58px;
  background-position: -9px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.top_menu_container{
width: 230px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 15px;
}
#header_container .header_right{
display: flex;
align-items: center;
}

main{
  width: var(--body_size);
  margin: 0 auto;
  margin-top: 100px;
}

 /* footer */
footer{
  margin-top: 150px;
}
footer .container{
  width: 1200px; 
  margin: 0 auto; 
  padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
  float: left;
  width: 300px;
  height: 180px;
}
.direct_num_box .list_tel{
  margin-top: 5px;
}
.direct_num_box .item_tel{
  margin-left: 10px;
}
.direct_num_box .link_tel{
  font-size: 18px;
  margin-top: 3px;
  display: inline-block;
}
.info_container .info_right_container{
  float: right;
}
.info_container .info_box_right{
  float: left;
  width: 140px;
  height: 180px;
  margin-right: 20px;
}
.info_container .info_box_right .info_title{
  margin-bottom: 5px;
}
.info_container .info_box_right li{
  padding-top: 5px;
}
footer .corp_container{
  margin-top: 10px;
}
footer .corp_container .link_corp{
  padding-left: 7px;
  font-size: 13px;
}
footer .corp_container .link_corp::before{
  width: 1px;
  height: 11px;
  content: '';
  display: inline-block;
  margin-right: 10px;
  background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
  padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
  display: none;
}
