:root {
  /* color */
  --color_blue: #66a0e2;
  --color_yellow: #f0ea58;
  --color_mint: #01f3a3;
  --color_black: #020a17;
  --color_beige: #fcf4ed;
  --color_light-grey: #bfbfbf;
  --color_grey: #626262;

  /* size */
  --body_size: 1200px;

  /* border */
  --border_basic: 3px solid #020a17;
  --border_light: 1px solid #bfbfbf;

  /* border-radius */
  --border_radius_1: 50%;
  --border_radius_2: 30px;
  --border_radius_3: 20px;
  --border_radius_4: 10px;

  /* font */
  --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_size_title_l: 35px;
  --font_size_title_m: 20px;
  --font_size_title_s: 15px;
  --font_size_cont_l: 14px;
  --font_size_cont_m: 12px;
  --font_size_cont_s: 8px;
}

/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
  height: 1513px;
  position: relative;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.display_none{
  clear: both; content: ''; display: block;
}
.clearfix::after{
  clear: both; display: block; content: '';
}
a{color: var(--color_black);}
.container{
  width: 1200px; margin: 0 auto;
  overflow: visible;
}
.btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 60px 60px;
  background-position: -10px -5px;
  background-size: 58px 58px;
  background-position: -10px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.add_shadow {box-shadow: 5px 5px 0px rgb(7, 7, 7);}

a, button{
  cursor: pointer;
}


/* ----------------------------------------------------------------- */



/* login_modal */
.modal_container{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.711);
  width: 100%;
  height: 100%;
  display: none;
}
.modal_area{
  width: 400px;
  height: 300px;
  text-align: center;
  font-size: 18px;
  color: #2d2d2d;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);

}
.login_box{
  margin: auto;
  width: 280px;
  padding: 25px 0px 25px;
}
.modal_area h1{
  text-align: center;
  margin-bottom: 10px;
  color: #2d2d2d;
}
.modal_area form{
  text-align: left;
  margin: auto;
}
.form_group .form_control{
  width: 273px;
  height: 40px;
  margin-bottom:10px;
  border-style: none;
  border-radius: 5px;
  padding-left: 5px;
  border: 0.5px solid rgba(121, 119, 119, 0.529);

}
.login_box .btn_outline_success{
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background-color: rgb(198, 197, 197);
  border-style: none;
  border-radius: 5px;
  border: 0.5px solid rgba(121, 119, 119, 0.529);
}
.more_action{
  text-align: center;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.454);
}
.more_action_item{
  text-decoration: none;
  font-size: 12px;
  color: rgb(44, 44, 44);
  padding: 5px;

}
.close_btn{
  height: 20px;
  width: 10px;
  color: gray;
  float: right;
  margin-right:5px;
  padding: 8px 12px;
  text-align: center;
  line-height: 70%;
  font-size: 27px;
  font-weight: 50;
}
/* ----------------------------------------------------------------- */
.main_container .info_area,
.main_container .event_area{
  width: 1200px;
  margin: auto;
}

.reservation_btn{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--color_blue);
  text-align: center;
  line-height: 105px;
  font-weight: bold;
  position: sticky;
  top: 500px;
  left: 1670px;
  z-index: 90;
}
/* main */
.main_area{background-color: #00c867;}
.main_bannr_box{
  height: 450px;
  position: relative;
  width: 1200px;
  margin: auto;
  background-image: url(../img/main_banner.png);
  position: relative;
}
.main_container .banner_text_box{
  width: 350px;
  margin-left: 100px;
  position:absolute;
  top: 140px;
  border: 1px solid balck;
  /* background-color: gray; */
}
.main_container .banner_icon{
  background-color: rgb(8, 61, 68);
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 5px;
}
[class^=banner_text]{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.main_container .banner_text_main{
  /* background: rgb(35, 35, 35); */
  font-size: 35px;
  margin: 10px 0px 12px;
  line-height: 40px;
}
.main_container .banner_text_sub{
  /* background: rgb(121, 91, 91); */
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.main_banner{width: 100%;}
[class$=btn_left]{
  display: inline-block; width: 50px; height: 50px; margin-right: 10px;
  background-position: -10px -10px; 
  background-size:80px 80px;
  background-image: url(../img/page_left.png);
}
[class$=btn_right]{
  display: inline-block; width: 50px; height: 50px; margin-right: 10px;
  background-position: -10px -10px; 
  background-size:80px 80px;
  background-image: url(../img/page_right.png);
}
.main_btn_left{
  position: absolute; left: -100px; top: 200px;
}
.main_btn_right{
  position: absolute; right: -100px; top: 200px;
}

/* info_top_left */
.info_area_top{
  margin-top: 20px;
  height: 664px;
  display: flex;
  justify-content: space-between;
}
.info_left, .info_right{width: 585px;}
.title_box2{padding-bottom: 20px;}
[class^=title_box]{
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 20px;
} 
.notice_banner_img{
  margin-bottom: 20px;
  background-color: rgb(248, 241, 175);
  height: 600px;
  background-image: url(../img/notice_banner.png);
}
/* info_top-right */
.spot_banner_box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
  padding-right: 5px;
  height: 595px;
}
.spot_content{padding: 5px 10px 5px 10px;}
[class^=spot_item]{
  border-radius: 10px;
  border: var(--border_basic);
  background-color: white;
}
.spot_name{
  font-size: 17px;
  font-weight: bold;
  padding: 5px 0px 10px 0px;
}
.spot_address{font-size: 14px;} 
[class^=spot_img]{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: inline-block; width: 276.012px; height: 188.613px;
  background-size:276.012px 188.613px;
  background-image: url(../img/study_thumb.jpeg);
}

/* info_bottom_recruite */
.info_area_bottom{margin-bottom: 40px;}
.recruit_box_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 320px;
  width: 1195px;
}
.recruit_banner_box{
  width: 280px;
  border: var(--border_basic);
  background-color: white;
  border-radius: 10px;
}
.recruit_banner_inner_box{padding: 10px;}
[class^=recruit_img]{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: inline-block; width: 279.823px; height: 118.723px; margin-right: 10px;
  background-size:279.823px 118.723px;
  background-image: url(../img/recruit_thumb.png);
}
.recruit_banner_tag{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* height: 52px; */
  overflow: hidden;
  padding-bottom: 5px;
}
.recruit_banner_tag span{
  font-size: 12px;
  padding: 3px 8px 6px;
  margin: 2px;
  height: 10px;
  border-radius: var(--border_radius_3);
  cursor: pointer;
  ;
}
.recruit_banner_tag .blue_btn{
  background-color: var(--color_blue);
}
.recruit_banner_tag .mint_btn{
  background-color: var(--color_mint);
}
.recruit_banner_title{
  font-size: 17px;
  font-weight: bold;
  margin: 8px 0px 15px 0px;
  height: 42px;
  overflow: hidden;
}
.recruit_banner_btn{
  background-color: var(--color_yellow);
  padding: 10px;
  float: left;
  border-radius:  var(--border_radius_4);
  border: 2px solid black;
}
.like_btn{
  width: 40px;
  margin-right: 5px;
}
.recruit_btn_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info_area_bottom{margin-top: 20px;position: relative;}
.recruit_btn_left{position: absolute; top:170px; left:-100px;}
.recruit_btn_right{position: absolute;top:170px;right:-100px;}

/* bar_banner */
.bar_area{
  background-color: rgb(21,21,21);
  text-align: center;
}
.bar_banner_box{
  text-align: center;
  width: var(--body_size);
  height: 270px;
  margin: auto;
  position: relative;
  background-color: rgb(118, 118, 216);
}
.bar_banner_container{
  background-color: rgb(118, 118, 216);
  height: 100%;
}
.bar_banner_textbox{
  width: 600px;
  height: 130px;
  color:var(--color_yellow);
  position: absolute;
  left: 300px;
  top: 80px;
  color:white
}
.bar_banner_textbox h1{
  font-size: var(--font_size_title_l);
}
.bar_banner_textbox h2{
  margin-top: 2px;
  font-size: var(--font_size_title_m);
}
.bar_banner_textbox button{
  margin-top: 18px;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--color_mint);
} 

/* event_banner */
.event_container{
  margin-top: 40px;
  margin-bottom: 40px
}
.event_box{
  display: flex;
  height: 252px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-right: 5px;
  width: 1200px;
}
[class^=event_banner]{
  width: 580px;
  text-align: center;
  border-radius: 10px;
  border: var(--border_basic);
}
[class^=event_img]{
  width: 100%;
  border-radius: 10px;
  display: inline-block; width: 579.996px; height:245.930px; margin-right: 10px;
  background-size:579.996px 245.930px;
  background-image: url(../img/event_thumb.png);
}
.event_container{position:relative;}
.event_btn_left{position:absolute; top:150px; left:-100px;}
.event_btn_right{position:absolute; top:150px; right:-100px}

/* ---------------------------------------------------------------- */

/* background */
.background_bbls{
  position: absolute;
  height: 100%;
  top: 120px;
  display: flex;
  width: 100%;
  height: 2600px;
  z-index: -10;
  overflow: hidden;
}
.background_bbls .bubble{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: var(--border_radius_1);
  background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
  top: 2005px;
  left: -620px;
  background-color: var(--color_blue);
  width: 1600px;
  height: 1600px;
}
.big_bbls .bubble:nth-child(2){
  top: 1579px;
  left: 1280px;
  background-color: var(--color_mint);
  width: 1080px;
  height: 1080px;
  z-index: -20;
}
.big_bbls .bubble:nth-child(3){
  top: 2164px;
  left: 767px;
  background-color: var(--color_yellow);
  width: 1290px;
  height: 1290px;
}
.big_bbls .bubble:nth-child(4){
  top: 2196px;
  left: 789px;
  background-color: var(--color_black);
  width: 300px;
  height: 300px;
  z-index: -30;
  opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
  top: 600px;
  left: -114px;
  background-color: var(--color_mint);
  width: 400px;
  height: 400px;
}
.small_bbls .bubble:nth-child(2){
  top: 852px;
  left: 1531px;
  background-color: var(--color_yellow);
  width: 250px;
  height: 250px;
}

/* header(기존) */
header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;


  position: fixed;
  background-color: var(--color_beige);
  z-index: 100;
  width: 100%;
  
}
header #header_container {
  display: flex;
  justify-content: space-between;
  width: var(--body_size);
  padding: 10px 0;
  border-radius: var(--border_radius_3);
  box-sizing: border-box;
  font-weight: 800;
}
#header_container .header_left{
  display: flex;
  gap: 30px;
}
.btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 60px 60px;
  background-position: -10px -5px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.top_menu_container{
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
/* 로그인 전 */
#header_container .header_right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 200px;
}

.login_modal, .signup_btn{
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  font-weight: 50;
}
/* 로그인 후 */
  #header_container .header_right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.logout_box{
  /* background-color: #01f3a3; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.icon_mypage{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color_mint);
  border-radius: var(--border_radius_1);
  margin-right: 10px;
}

.logout_btn{
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  font-weight: 50;
  height: 20px;
}

/* footer */
footer .container{
	width: 1200px; margin: 0 auto; padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
	float: left;
	width: 300px;
	height: 180px;
}
.direct_num_box .list_tel{
	margin-top: 5px;
}
.direct_num_box .item_tel{
	margin-left: 10px;
}
.direct_num_box .link_tel{
	font-size: 18px;
	margin-top: 3px;
	display: inline-block;
}
.info_container .info_right_container{
	float: right;
}
.info_container .info_box_right{
	float: left;
	width: 140px;
	height: 180px;
	margin-right: 20px;
}
.info_container .info_box_right .info_title{
	margin-bottom: 5px;
}
.info_container .info_box_right li{
	padding-top: 5px;
}
footer .corp_container{
	margin-top: 10px;
}
footer .corp_container .link_corp{
	padding-left: 7px;
	font-size: 13px;
}
footer .corp_container .link_corp::before{
	width: 1px;
	height: 11px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
	padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
	display: none;
}