
/* ----------------------------------------------------------------- */

a, button{
  cursor: pointer;
}

.sign_up_container{
  width: 500px;
  text-align: center;
  background-color: var(--color_beige);
  margin-top: 70px;
  font-size: 18px;
  color: #2d2d2d;
  z-index: -20;
  border-radius: 10px;
  margin : auto;
}
.sign_up_container label{
  text-align: left;
}
.sign_up_container .form_area{
  text-align: left;
  margin: auto;
}
.sign_up_container .form_group{
  margin: 20px 0px 7px;
}
.sign_up_container .btn, #signupform .form_control{
  list-style: none;
  height: 35px;
  width: 490px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid gray;
  background-color: white;
}
.sign_up_container .btn{
background-color: #dbdbdc71;
}

.email{
	width: 200px;
    height: 30px;
    margin: 5px 0 40px 0;
}

a, button{
  cursor: pointer;
}

label.error{
 color : red;
}


/* ---------------------------------------------------------------- */

/* background */
.background_bbls{
  position: absolute;
  height: 100%;
  top: -77px;
  display: flex;
  width: 100%;
  height: 1350px;
  z-index: -10;
  overflow: hidden;
}
.background_bbls .bubble{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: var(--border_radius_1);
  background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
  top: 750px;
  left: -615px;
  background-color: var(--color_blue);
  width: 1600px;
  height: 1600px;
}
.big_bbls .bubble:nth-child(2){
  top: 800px;
  left: 900px;
  background-color: var(--color_mint);
  width: 1080px;
  height: 1080px;
  z-index: -20;
}
.big_bbls .bubble:nth-child(3){
  top: 1050px;
  left: 550px;
  background-color: var(--color_yellow);
  width: 1290px;
  height: 1290px;
}
.big_bbls .bubble:nth-child(4){
  top: 900px;
  left: 705px;
  background-color: var(--color_black);
  width: 300px;
  height: 300px;
  z-index: -30;
  opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
  top: 170px;
  left: -114px;
  background-color: var(--color_mint);
  width: 400px;
  height: 400px;
}
.small_bbls .bubble:nth-child(2){
  top: 400px;
  left: 1400px;
  background-color: var(--color_yellow);
  width: 250px;
  height: 250px;
}




