:root {
  /* color */
  --color_blue: #66a0e2;
  --color_yellow: #f0ea58;
  --color_mint: #01f3a3;
  --color_black: #020a17;
  --color_beige: #fcf4ed;
  --color_light-grey: #bfbfbf;
  --color_grey: #626262;

  /* size */
  --body_size: 1200px;

  /* border */
  --border_basic: 3px solid #020a17;
  --border_light: 1px solid #bfbfbf;

  /* border-radius */
  --border_radius_1: 50%;
  --border_radius_2: 30px;
  --border_radius_3: 20px;
  --border_radius_4: 10px;

  /* font */
  --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  --font_size_title_l: 35px;
  --font_size_title_m: 20px;
  --font_size_title_s: 15px;
  --font_size_cont_l: 14px;
  --font_size_cont_m: 12px;
  --font_size_cont_s: 8px;
}

/* 공통 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: var(--color_beige);
  height: 1513px;
  position: relative;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.display_none{
  clear: both; content: ''; display: block;
}
.clearfix::after{
  clear: both; display: block; content: '';
}
a{color: var(--color_black);}
.container{
  width: 1200px; margin: 0 auto;
  overflow: visible;
}
.btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 60px 60px;
  background-position: -10px -5px;
  background-size: 58px 58px;
  background-position: -10px -4px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.add_shadow {box-shadow: 5px 5px 0px rgb(7, 7, 7);}

#total_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* ----------------------------------------------------------------- */

a, button{
  cursor: pointer;
}

.sign_up_container{
  width: 500px;
  text-align: center;
  background-color: var(--color_beige);
  margin-top: 70px;
  font-size: 18px;
  color: #2d2d2d;
  z-index: -20;
  border-radius: 10px;
  margin : auto;
}
.sign_up_container label{
  text-align: left;
}
.sign_up_container .form_area{
  text-align: left;
  margin: auto;
}
.sign_up_container .form_group{
  margin: 20px 0px 7px;
}
.sign_up_container .btn, .form_control{
  list-style: none;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid gray;
  background-color: white;
}
.sign_up_container .btn{
background-color: #dbdbdc71;
}

.email{
	width: 200px;
    height: 30px;
    margin: 5px 0 40px 0;
}

a, button{
  cursor: pointer;
}

label.error{
 color : red;
}

/* login_modal----------------------------------------------------------------- */
.modal_container{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.711);
  width: 100%;
  height: 100%;
  display: none;
}
.modal_container .modal_area{
  width: 400px;
  height: 300px;
  text-align: center;
  font-size: 18px;
  color: #2d2d2d;
  border-radius: 10px;
  background-color: white;
  margin: auto;
  margin-top: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0);

}
.modal_container .login_box{
  margin: auto;
  width: 280px;
  padding: 25px 0px 25px;
}
.modal_container .modal_area h1{
  text-align: center;
  margin-bottom: 10px;
  color: #2d2d2d;
}
.modal_container .modal_area form{
  text-align: left;
  margin: auto;
}
.modal_container .form_group .form_control{
  width: 273px;
  height: 40px;
  margin-bottom:10px;
  border-style: none;
  border-radius: 5px;
  padding-left: 5px;
  border: 0.5px solid rgba(121, 119, 119, 0.529);

}
.modal_container .login_box .btn_outline_success{
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  background-color: rgb(198, 197, 197);
  border-style: none;
  border-radius: 5px;
  border: 0.5px solid rgba(121, 119, 119, 0.529);
}
.modal_container .more_action{
  text-align: center;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.454);
}
.modal_container .more_action_item{
  text-decoration: none;
  font-size: 12px;
  color: rgb(44, 44, 44);
  padding: 5px;

}
.modal_container .close_btn{
  height: 20px;
  width: 10px;
  color: gray;
  float: right;
  margin-right:5px;
  padding: 8px 12px;
  text-align: center;
  line-height: 70%;
  font-size: 27px;
  font-weight: 50;
}
/* ---------------------------------------------------------------- */

/* background */
.background_bbls{
  position: absolute;
  height: 100%;
  top: -77px;
  display: flex;
  width: 100%;
  height: 1350px;
  z-index: -10;
  overflow: hidden;
}
.background_bbls .bubble{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: var(--border_radius_1);
  background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
  top: 750px;
  left: -615px;
  background-color: var(--color_blue);
  width: 1600px;
  height: 1600px;
}
.big_bbls .bubble:nth-child(2){
  top: 800px;
  left: 900px;
  background-color: var(--color_mint);
  width: 1080px;
  height: 1080px;
  z-index: -20;
}
.big_bbls .bubble:nth-child(3){
  top: 1050px;
  left: 550px;
  background-color: var(--color_yellow);
  width: 1290px;
  height: 1290px;
}
.big_bbls .bubble:nth-child(4){
  top: 900px;
  left: 705px;
  background-color: var(--color_black);
  width: 300px;
  height: 300px;
  z-index: -30;
  opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
  top: 170px;
  left: -114px;
  background-color: var(--color_mint);
  width: 400px;
  height: 400px;
}
.small_bbls .bubble:nth-child(2){
  top: 400px;
  left: 1400px;
  background-color: var(--color_yellow);
  width: 250px;
  height: 250px;
}

/* header */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
  background-color: var(--color_beige);
  z-index: 100;
}
header #header_container {
  display: flex;
  justify-content: space-between;
  width: var(--body_size);
  padding: 10px 0;
  border-radius: var(--border_radius_3);
  box-sizing: border-box;
  font-weight: 800;
}
#header_container .header_left{
  display: flex;
  gap: 30px;
}
.btn_home {
  display: flex;
  width: 66px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  line-height: 80px;
  overflow: hidden;
}
.btn_home .icon_home {
  width: 40px;
  height: 51px;
  background-size: 60px 60px;
  background-position: -10px -5px;
  background-image: url(../img/rlab_logo.png);
  background-repeat: no-repeat;
}
.top_menu_container{
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

/* 로그인 전 */
#header_container .header_right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 200px;
}

.login_modal, .signup_btn{
  padding: 5px 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  font-weight: 50;
}



/* footer */
footer{
  margin-top: 150px;
}
footer .container{
	width: 1200px; margin: 0 auto; padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
	float: left;
	width: 300px;
	height: 180px;
}
.direct_num_box .list_tel{
	margin-top: 5px;
}
.direct_num_box .item_tel{
	margin-left: 10px;
}
.direct_num_box .link_tel{
	font-size: 18px;
	margin-top: 3px;
	display: inline-block;
}
.info_container .info_right_container{
	float: right;
}
.info_container .info_box_right{
	float: left;
	width: 140px;
	height: 180px;
	margin-right: 20px;
}
.info_container .info_box_right .info_title{
	margin-bottom: 5px;
}
.info_container .info_box_right li{
	padding-top: 5px;
}
footer .corp_container{
	margin-top: 10px;
}
footer .corp_container .link_corp{
	padding-left: 7px;
	font-size: 13px;
}
footer .corp_container .link_corp::before{
	width: 1px;
	height: 11px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
	padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
	display: none;
}