
/* background */
.background_bbls{
	position: absolute;
	height: 100%;
	top: 750px;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: -10;
	overflow: hidden;
}
.background_bbls .bubble{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: var(--border_radius_1);
	background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
	top: 927px;
	left: -385px;
	background-color: var(--color_blue);
	width: 1600px;
	height: 1600px;
}
.big_bbls .bubble:nth-child(2){
	top: 673px;
	left: 988px;
	background-color: var(--color_mint);
	width: 1080px;
	height: 1080px;
	z-index: -20;
}
.big_bbls .bubble:nth-child(3){
	top: 1075px;
	left: 863px;
	background-color: var(--color_yellow);
	width: 1290px;
	height: 1290px;
}
.big_bbls .bubble:nth-child(4){
	top: 966px;
	left: 804px;
	background-color: var(--color_black);
	width: 300px;
	height: 300px;
	z-index: -30;
	opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
	top: 124px;
	left: -114px;
	background-color: var(--color_mint);
	width: 400px;
	height: 400px;
}
.small_bbls .bubble:nth-child(2){
	top: 77px;
	left: 1616px;
	background-color: var(--color_yellow);
	width: 250px;
	height: 250px;
}



/* footer */
footer{
	margin-top : 150px
}
footer .container{
	width: 1200px; margin: 0 auto; padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
	float: left;
	width: 300px;
	height: 180px;
}
.direct_num_box .list_tel{
	margin-top: 5px;
}
.direct_num_box .item_tel{
	margin-left: 10px;
}
.direct_num_box .link_tel{
	font-size: 18px;
	margin-top: 3px;
	display: inline-block;
}
.info_container .info_right_container{
	float: right;
}
.info_container .info_box_right{
	float: left;
	width: 140px;
	height: 180px;
	margin-right: 20px;
}
.info_container .info_box_right .info_title{
	margin-bottom: 5px;
}
.info_container .info_box_right li{
	padding-top: 5px;
}
footer .corp_container{
	margin-top: 10px;
}
footer .corp_container .link_corp{
	padding-left: 7px;
	font-size: 13px;
}
footer .corp_container .link_corp::before{
	width: 1px;
	height: 11px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
	padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
	display: none;
}

/* main */
main .container{
	width: 1200px;
	margin: 0 auto;
}
.inner_container{
	margin: 100px auto;
	padding: 0px 200px;
}
main .info_box{
	width: 100%;
	height: 80px;
	line-height: 40px;
	text-align: center;
	color: #020a17;
}
.button_container .ticket_box, .button_container .reservation_box{
	width: 374px;
	height: 400px;
	background-color: #bfbfbf;
	float: left;
	border-radius: 20px;
	text-align: center; 
	/* line-height: 300px; */
	/*border: var(--border_basic);*/
	box-shadow: var(--shadow);
	border-radius: var(--border_radius_1);
	padding: 120px 20px;
	box-sizing: border-box;
}
.button_container .ticket_box{
	background-color: var(--color_yellow);
}
.button_container .reservation_box{
	margin-left: 40px;
	background-color: var(--color_blue);
}
.button_container .around_text{
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid #000;
	padding: 10px 20px;
	border-radius: 30px;
}
.button_container .info_area{
	display: flex;
	flex-flow: column;
	gap: 10px;
	margin-top: 50px;
}
.button_container .info_area:nth-child(2){
	
}