/* background */
.background_bbls{
	position: absolute;
	height: 100%;
	top: 750px;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: -10;
	overflow: hidden;
}
.background_bbls .bubble{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: var(--border_radius_1);
	background-color: var(--color_mint);
}
.big_bbls .bubble:nth-child(1){
	top: 927px;
	left: -385px;
	background-color: var(--color_blue);
	width: 1600px;
	height: 1600px;
}
.big_bbls .bubble:nth-child(2){
	top: 673px;
	left: 988px;
	background-color: var(--color_mint);
	width: 1080px;
	height: 1080px;
	z-index: -20;
}
.big_bbls .bubble:nth-child(3){
	top: 1075px;
	left: 863px;
	background-color: var(--color_yellow);
	width: 1290px;
	height: 1290px;
}
.big_bbls .bubble:nth-child(4){
	top: 966px;
	left: 804px;
	background-color: var(--color_black);
	width: 300px;
	height: 300px;
	z-index: -30;
	opacity: 30%;
}
.small_bbls .bubble:nth-child(1){
	top: 124px;
	left: -114px;
	background-color: var(--color_mint);
	width: 400px;
	height: 400px;
}
.small_bbls .bubble:nth-child(2){
	top: 77px;
	left: 1616px;
	background-color: var(--color_yellow);
	width: 250px;
	height: 250px;
}

main .container{
	width: 1200px; margin: 0 auto;
}

/* 이용권 구매 단계 안내 */
.procedure_container{
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 40px;
	width: 800px;
	margin: 0 auto;
}
.selected{
	background-color: var(--color_blue);
}
.detail_procedure{
	display: flex;
	align-items: center;
	gap: 60px;
}
.procedure_container .procedure_title{
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.procedure_container .item_procedure{
	float: left;
	border: 1px solid #000;
	width: 120px;
	height: 120px;
	text-align: center;
	border-radius: 50%;
	position: relative;
}
.item_procedure .numbering{
	position: absolute;
	right: 0; left: 0; top: 23px;
	text-decoration: underline;
	font-size: 14px;
	line-height: normal;
}
.item_procedure .item_text{
	line-height: 120px;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
}
.procedure_container .item_procedure+.item_procedure{
	margin-left: 20px;
}
.icon_next{
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url(../../img/up_btn.png);
	background-repeat: no-repeat;
	transform: rotateZ(90deg);
	opacity: 90%;
}

/* 필터/서치 섹션 */
.search_container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.search_container .box_seat_detail{
	margin: 50px 0 0;
}
.box_seat_detail .btn_ticket, .box_seat_detail .btn-direct{
	border: 2px solid black; border-radius: 50px; padding: 15px 25px;
	font-weight: 700;
}
.box_seat_detail .btn_ticket{
	background-color: var(--color_light-grey);

}
.box_seat_detail .btn_ticket:hover{
	background-color: var(--color_yellow);
}
.box_seat_detail .btn_ticket.selected{
	background-color: var(--color_yellow);
}
.box_seat_detail .btn-direct{
	margin-left: 5px; 
	background-color: var(--color_light-grey); 
}
.box_seat_detail .btn-direct:hover{
	margin-left: 5px; background-color: var(--color_blue);
}
.box_seat_detail .btn-direct.selected{
	margin-left: 5px; 
	background-color: var(--color_blue);
}
.search_container .filter_area{ 
	display: flex;
	gap: 10px;
	margin-top: 35px; 
	vertical-align: top;
}

.search_container .choose_region{
	width: 220px; height: 50px; border: 2px solid black; border-radius: 8px;
	background-color: var(--color_beige); line-height: 25px; padding: 10px 15px;
	font-size: 14px; font-weight: 700; display: inline-block;
	position: relative;
}
.filter_area .search_box{
	width: 250px; 
	height: 50px; 
	border: 2px solid black; 
	border-radius: 8px;
	background-color: var(--color_beige); 
	display: flex;
	justify-content: space-between;
	gap: 5px;
	align-items: center;
	font-size: 14px; 
	font-weight: 700; 
	outline: 0;
	box-sizing: border-box;
	padding: 0 10px 0 0;
}
.search_box .search{
	width: 90%;
	height: 100%;
	padding: 10px 0 10px 10px;
	border: none;
	background-color: #ffffff00;
	line-height: 25px; 
	font-size: 14px; 
	font-weight: 700; 
	display: inline-block; 
	outline: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
.btn_search{
	display: flex;
	align-items: center;
	width: 10%;
	height: 100%;
	border: none;
	cursor: pointer;
}
.search_box .icon_search{
	transform: rotateY(170deg);
	width: 25px;
	height: 25px;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	background-image: url(../../img/serch.png);
}
.search_container .btn_next{
	width: 200px; 
	height: 55px; 
	border: none; 
	border-radius: var(--border_radius_2);
	background-color: var(--color_blue); 
	box-shadow: 3px 3px 5px #6262626e;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
}
.btn_next:hover{
	background-color: #4f8dd4;
}

/* 이용권 선택 섹션 */
.ticket_list_box{
	background-color: grey; 
	margin-top: 30px;
}
.seat_container .list_container{
	display: flex;
}
.seat_container .item_container{
	width: 100%;
	padding: 50px; 
	text-align: center;
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px;

}
.seat_container .item_container+.item_container{
	margin-left: 30px;
}
.seat_container .list_ticket{
	font-size: 20px;
	padding-bottom: 10px;
}
.seat_container .item_ticket{
	font-size: 15px;
}









/* 지점 카드 섹션 */
.spot_card_container{
	margin-top: 60px;
}
.spot_card_container .item_card{
	width: 380px;  background-color: #fff; float: left;
	border: var(--border_basic); border-radius: 10px; display: inline-block;
	box-sizing: border-box; overflow: hidden;
}
.item_card:hover{
	border: 3px solid #66a0e2;
	background-color: #66a0e2;
}
.spot_card_container .item_card+.item_card{margin-left: 20px;}
.spot_card_container .img-box{
	width: 400px; height: 250px; 
	background-image: url(../../img/study_thumb.jpeg);
}
.spot_card_container .info_area{padding: 20px;}
.spot_card_container h2{margin-bottom: 10px;}
.spot_card_container .spot_address,
.spot_card_container .info_running_time{
	color: #464646; font-size: var(--font_size_cont_l);
	font-weight: bold;
}
.spot_card_container .row_card{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.spot_card_container .page_box{
	margin-top: 30px; display: flex; justify-content: center;
}
.spot_card_container .page_box>*{float: left;}
.spot_card_container .page_box .btn_prev{
	width: 30px; height: 30px; display: inline-block;
	background-position: -10px -10px; margin-right: 10px;
	background-image: url(../../img/page_left.png);  background-size:50px 50px;
}
.spot_card_container .page_box .btn_next{
	width: 30px; height: 30px; display: inline-block;
	background-position: -10px -10px; margin-left: 10px;
	background-image: url(../../img/page_right.png); background-size:50px 50px;
}
.spot_card_container .page_num{
	line-height: 30px; font-size: 25px; color: rgb(63, 63, 63);
}
.spot_card_container .page_num.selected_num{
color: #020a17; font-weight: bold;
}
.spot_card_container .page_num+.page_num{margin-left: 15px;}





/* footer */
footer{
	margin-top : 150px
}
footer .container{
	width: 1200px; margin: 0 auto; padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
	float: left;
	width: 300px;
	height: 180px;
}
.direct_num_box .list_tel{
	margin-top: 5px;
}
.direct_num_box .item_tel{
	margin-left: 10px;
}
.direct_num_box .link_tel{
	font-size: 18px;
	margin-top: 3px;
	display: inline-block;
}
.info_container .info_right_container{
	float: right;
}
.info_container .info_box_right{
	float: left;
	width: 140px;
	height: 180px;
	margin-right: 20px;
}
.info_container .info_box_right .info_title{
	margin-bottom: 5px;
}
.info_container .info_box_right li{
	padding-top: 5px;
}
footer .corp_container{
	margin-top: 10px;
}
footer .corp_container .link_corp{
	padding-left: 7px;
	font-size: 13px;
}
footer .corp_container .link_corp::before{
	width: 1px;
	height: 11px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
	padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
	display: none;
}