<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.CommentDAO">
<insert id="insertComment">
    INSERT INTO comment (co_me_id, co_content, co_ori_num, co_table, co_ex_num)
    VALUES (#{co_me_id}, #{co_content}, #{co_ori_num}, #{co_table}, #{co_ex_num})
</insert>
</mapper>