<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.CommentDAO">
<insert id="insertComment">
    insert into
        comment(co_num, co_me_id, co_content, co_reg_date, co_ori_num, co_table, co_ex_num)
    select
        ifnull(max(co_num), 0 ) + 1,
        #{co_me_id}, #{co_content}, now(),
        <choose>
            <when test="co_ori_num == 0">
                ifnull(max(co_num), 0) + 1,
            </when>
            <otherwise>
                #{co_ori_num},
            </otherwise>
        </choose>
        #{co_table},
        #{co_ex_num}
    from
        comment
</insert>

<select id="getCommentCount" resultType="int">
	select
		count(*)
	from
		comment
	where co_ex_num = #{co_ex_num}
</select>

<select id="getCommentList" resultType="kr.kh.RLab.vo.CommentVO">
    SELECT * 
    FROM comment AS c
    LEFT JOIN member AS me ON c.co_me_id = me.me_id
    WHERE co_ex_num = #{co_ex_num}
    order by
  			co_ori_num desc, co_num asc
    LIMIT #{offset}, #{pageSize}
</select>

<select id="selectComment" resultType="kr.kh.RLab.vo.CommentVO">
	select *
	from comment
	where co_num = #{co_num}
</select>

<delete id="deleteComment">
	delete from
		comment
	where co_num = #{co_num}
</delete>

<update id="updateComment">
	update 
		comment
	set
		co_content = #{co_content}
	where
		co_num = #{co_num}
</update>



</mapper>