<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="kr.kh.RLab.dao.GatherDAO">
<insert id="insertStudy" useGeneratedKeys="true" keyProperty="study.st_num">
	insert into study(st_name,st_me_id,st_info,st_total_people,st_re_name,st_image)
	values(#{study.st_name},#{study.st_me_id},#{study.st_info},#{study.st_total_people},#{study.st_re_name},#{study.st_image})
</insert>
<insert id="insertFile">
	insert into file( fi_ori_name, fi_name, fi_table, fi_ex_num)
	values(#{file.fi_ori_name}, #{file.fi_name}, #{file.fi_table}, #{file.fi_ex_num}) 
</insert>
<insert id="insertTag" useGeneratedKeys="true" keyProperty="tag.ta_name" >
	insert into tag(ta_name)
	values(#{tag.ta_name})
</insert>
<insert id="insertStudyTag">
	insert into tag_register(tr_st_num,tr_name)
	values(#{st_num},#{ta_name})
</insert>
</mapper>