<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.InquiryDAO">
<select id="selectAllInquiry" resultType="kr.kh.RLab.vo.InquiryVO">
	SELECT * FROM inquiry
	WHERE in_title LIKE CONCAT('%', #{cri.search}, '%')
	<if test="cri.type != 0">
		AND in_it_num = #{cri.type}
	</if>
		and in_ori_num = 0
	ORDER BY 
		<if test="cri.sort == ''">in_num DESC</if>
		<if test="cri.sort == 'date'">in_register_date DESC</if>
	LIMIT #{cri.pageStart}, #{cri.perPageNum}
</select>
<select id="selectInquiryTotalCount" resultType="Integer">
	select count(*) from (
		select * from inquiry
		where in_title LIKE CONCAT('%', #{cri.search}, '%')
		<if test="cri.type != 0">
			AND in_it_num = #{cri.type}
		</if>
		and in_ori_num = 0
	)tmp
</select>
<select id="selectAllInquiryType" resultType="kr.kh.RLab.vo.InquiryTypeVO">
	select * from inquiry_type
</select>
<select id="selectAnsweredInNum" resultType="Integer">
	select in_ori_num from inquiry where in_ori_num > 0
</select>
<select id="selectInquiryAnswer" resultType="kr.kh.RLab.vo.InquiryVO">
	select * from inquiry
	where in_ori_num = #{in_num}
</select>
<insert id="insertInquiry">
	insert into inquiry(in_it_num, in_title, in_me_id, in_content, in_reg_date)
	values(#{in.in_it_num}, #{in.in_title}, #{me_id}, #{in.in_content}, now())
</insert>
<select id="selectInquiryByInnum" resultType="kr.kh.RLab.vo.InquiryVO">
	select * from inquiry
	join member on in_me_id = me_id
	where in_num = #{in_num}
</select>
<update id="updateInquiry">
	update inquiry
	set in_it_num = #{in.in_it_num}, in_title = #{in.in_title}, in_content = #{in.in_content}
	where in_num = #{in.in_num}
</update>
<delete id="deleteInquiry">
	delete from inquiry where in_num = #{in_num} 
</delete>
<insert id="insertInquiryAnswer">
	insert into inquiry(in_it_num, in_title, in_me_id, in_content, in_reg_date, in_ori_num)
	value(1, #{in.in_title}, #{me_id}, #{in.in_content}, now(), #{in.in_num})
</insert>
</mapper>