<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.MemberDAO">
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_name)
		values(#{m.me_id},#{m.me_pw},#{m.me_email},#{m.me_name})
	</insert>
	<select id="selectMemberById"
		resultType="kr.kh.RLab.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<select id="selectMemberByName"
		resultType="kr.kh.RLab.vo.MemberVO">
		select * from member where me_name = #{me_name}
	</select>
	<update id="updateAuthority">
		update member
		set
		me_authority = #{me_authority}
		where
		me_id = #{me_id}
	</update>
	<update id="updateMember">
		UPDATE member
		SET me_name = #{m.me_name},
		me_pw = #{m.me_pw},
		me_email = #{m.me_email}
		WHERE me_id = #{m.me_id}
	</update>
	<update id="updateProfile">
		UPDATE member
		SET me_profile = #{m.me_profile}
		WHERE me_id = #{m.me_id}
	</update>
	
	<select id="selectMemberBySession" resultType="kr.kh.RLab.vo.MemberVO">
 		select 
 			*
 		from 
 			member
 		where
 			me_session_id = #{me_session_id} and me_session_limit > now() 	
  	</select>
  	
	 <update id="updateSession">
	  	update 
	  		member
	  	set
	  		me_session_id = #{me_session_id},
	  		me_session_limit = #{me_session_limit}
	  	where
	  		me_id = #{me_id}
	  </update>

	<select id="selectMemberBySession" resultType="kr.kh.RLab.vo.MemberVO">
 		select 
 			*
 		from 
 			member
 		where
 			me_session_id = #{me_session_id} and me_session_limit > now() 	
  	</select>
  	  <update id="updateSession">
	  	update 
	  		member
	  	set
	  		me_session_id = #{me_session_id},
	  		me_session_limit = #{me_session_limit}
	  	where
	  		me_id = #{me_id}
	  </update>

	  <select id="findIDByEmail" resultType="String">
	  	select
	  		me_id
	  	from
	  		member
	  	where
	  		me_email = #{email}
	  </select>

	  <select id="findPWByEmail" resultType="kr.kh.RLab.vo.MemberVO">
	  	select
	  		*
	  	from
	  		member
	  	where
	  		me_id = #{id} and me_email = #{email}
	  </select>

	  <update id="updatePW">
	    UPDATE
	        member
	    SET
	        me_pw = #{me_pw}
	    WHERE
	        me_id = #{me_id}
	        AND me_email = #{me_email}
		</update>

	<select id="selectMemberByEamil"
		resultType="kr.kh.RLab.vo.MemberVO">
		select * from member where me_email = #{me_email}
	</select>

</mapper>
