<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="kr.kh.RLab.dao.MypageDAO">
<!-- 나의 스크랩 -->
<resultMap id="scrap" type="kr.kh.RLab.vo.BoardVO">
	<id property="bo_num" column="bo_num"/>
	<id property="bo_st_num" column="bo_st_num"/>
	<id property="bo_title" column="bo_title"/>
	<id property="st_name" column="st_name"/>
	<id property="bo_me_id" column="bo_me_id"/>
	<id property="me_name" column="me_name"/>
	<id property="bo_reg_date" column="bo_reg_date"/>
		<association property="scrapVO" javaType="kr.kh.RLab.vo.ScrapVO">
			<result property="sc_num" column="sc_num"/>	
		</association>
</resultMap>

<!-- 나의 모집글  -->
<resultMap id="gather" type="kr.kh.RLab.vo.StudyVO">
	<id property="st_num" column="st_num"/>
	<id property="st_re_name" column="st_re_name"/>
	<id property="st_now_people" column="st_now_people"/>
	<id property="st_total_people" column="st_total_people"/>
	<id property="st_state" column="st_state"/>
		<collection property="gatherVO" column="st_num" select="selectGather" ofType="kr.kh.RLab.vo.GatherVO"></collection>		
</resultMap>

<!-- 마이페이지 홈 > 나의 스터디  -->
<resultMap id="studyMember" type="kr.kh.RLab.vo.StudyVO">
	<id property="st_num" column="st_num"/>
	<id property="st_name" column="st_name"/>
	<id property="st_re_name" column="st_re_name"/>
	<id property="st_now_people" column="st_now_people"/>
	<id property="st_total_people" column="st_total_people"/>
	<id property="st_image" column="st_image"/>
	<id property="st_state" column="st_state"/>
	<id property="st_info" column="st_info"/>
	<id property="al_num" column="al_num"/>
	<id property="al_me_id" column="al_me_id"/>
	<id property="al_content" column="al_content"/>
	<id property="al_view" column="al_view"/>
	<id property="al_type" column="al_type"/>
		<association property="studyMemberVO" javaType="kr.kh.RLab.vo.StudyMemberVO">
			<result property="sm_me_id" column="sm_me_id"/>	
			<result property="sm_st_num" column="sm_st_num"/>	
			<result property="sm_authority" column="sm_authority"/>	
		</association>
</resultMap>
<!-- 마이페이지 홈 > 나의 예약  -->
<resultMap id="reservation" type="kr.kh.RLab.vo.ReservationVO">
	<id property="re_me_id" column="re_me_id"/>
	<id property="se_name" column="se_name"/>
	<id property="ki_name" column="ki_name"/>
		<association property="branchVO" javaType="kr.kh.RLab.vo.BranchVO">
			<result property="br_name" column="br_name"/>	
		</association>
</resultMap>

	<!-- [마이페이지 홈] -->
		<!-- 이용 시간 -->
		<select id="selectRes" resultType="kr.kh.RLab.vo.ReservationVO">
			SELECT *
			FROM reservation
			WHERE re_me_id = #{userId};		
		</select>
		
		<!-- 펫 경험치 -->
		<select id="selectPetEx" resultType="kr.kh.RLab.vo.GrowthVO">
			SELECT 
			* FROM growth
		    join exp on ex_level = gr_level
		    where gr_me_id = #{userId};
		</select>
		
		<select id="selectLevelUpExp" resultType="int">
			SELECT ex_experience
			FROM exp
			where ex_level = #{currentLevel};
		</select>
		
		<update id="updateExp">
			update growth
			set gr_exp = #{currentEx}
			where gr_me_id = #{userId};
		</update>
		
		<!-- 적립 포인트 -->
		<select id="selectMyPoint" resultType="int">
			SELECT me_point
			FROM member
			WHERE me_id = #{userId};		
		</select>
		
		<!-- 나의 예약 -->
			<!-- 좌석 예약 정보 가져오기 -->
			<select id="selectMySeat" resultMap="reservation">
				SELECT re_me_id, se_name, br_name, ki_name
				FROM reservation
				join seat on re_se_num = se_name
				join branch on se_br_num = br_num
				join kind on se_ki_num = ki_num
				where re_me_id = #{userId} and se_ki_num = 1
			</select>
			<!-- 사물함 예약 정보 가져오기 -->
			<select id="selectMyLocker" resultMap="reservation">
				SELECT re_me_id, se_name, br_name, ki_name
				FROM reservation
				join seat on re_se_num = se_num
				join branch on se_br_num = br_num
				join kind on se_ki_num = ki_num
				where re_me_id = #{userId} and se_ki_num = 2
			</select>
			
			<select id="selectResList" resultType="kr.kh.RLab.vo.ReservationVO">
				SELECT *
				FROM reservation
				WHERE re_me_id = #{userId};		
			</select>
		
		<!-- 나의 스터디 -->
		<select id="selectMainStudyList" resultMap="studyMember">
			select st_num, sm_st_num, st_name, st_me_id, st_name, st_image
			from study_member
			join study on sm_st_num = st_num
			where sm_me_id = #{userId}
			ORDER BY sm_num DESC
			LIMIT 4
		</select>
		
		<!-- 나의 스크랩 -->
		<select id="selectMainScrapList" resultMap="scrap">
			select st_name, bo_title, bo_st_num, bo_num,  sc_num
  			from board
  			join study on bo_st_num = st_num
            join scrap on bo_num = sc_bo_num
			WHERE  
				sc_me_id = #{userId} 
				and sc_state = 1
			ORDER BY bo_num DESC
			LIMIT 5	
		</select>
		
		

	<!-- [개인정보 수정 > 비밀번호 체크 > 개인정보 수정창] -->
		<!-- 프로필 이미지 수정 -->
		<update id="updateProfile">
		  UPDATE member
		  SET me_profile = #{m.me_profile}
		  WHERE me_id = #{m.me_id}
		</update>
		
		<!-- 나머지 개인정보 수정 -->
		<update id="updateMember">
		  UPDATE member
		  SET me_name = #{m.me_name},
		      me_pw = #{m.me_pw},
		      me_email = #{m.me_email}
		  WHERE me_id = #{m.me_id}
		</update>

		

	<!-- [예약 관리 > 나의 결제 내역] -->
		<!-- 결제 정보 가져오기 -->
		<select id="selectPayList" resultType="kr.kh.RLab.vo.PayDTO">
			SELECT *
			FROM pay
			WHERE pa_me_id = #{memberId}
			ORDER BY pa_date DESC 
	 		limit #{cri.pageStart}, #{cri.perPageNum}
		</select>
		<!-- 결제 전체 수 가져오기 -->
		<select id="selectPayTotalCount" resultType="int">
			select count(*)
			from pay
			where pa_me_id = #{memberId}
		</select>
		
	<!-- [예약 관리 > 나의 결제 내역 > 결제 상세 내역] -->
		<!-- 결제번호 가져오기 -->
		<select id="selectPaOrderId" resultType="String">
			SELECT pa_order_id
			FROM pay
			WHERE pa_me_id = #{memberId}
		</select>
		<!-- 결제번호로 결제 정보 가져오기 -->
		<select id="selectPayDto" resultType="kr.kh.RLab.vo.PayDTO">
			SELECT *
			FROM pay
			WHERE pa_order_id = #{paOrderId}
		</select>
		<!-- 해당 결제 정보안의 구매목록 가져오기 -->
		<select id="selectItemList" resultType="String">
			select concat(tt_name, ' (', ti_name, ') ', pd_amount, '개') as item from pay_detail
			left join ticket on pd_ti_num = ti_num
			left join ticket_type on ti_tt_num = tt_num
	        where pd_pa_order_id = #{paOrderId} and pd_state = '결제완료';
		</select>
	
	<!-- [예약 관리 > 나의 결제 내역] -->
		<!-- 나의 예약 목록 가져오기	 -->	
		<select id="selectBookList" resultType="kr.kh.RLab.vo.ReservationVO">
			select re_num, ti_name, re_register_date, br_name, ki_name, se_name, ki_num
			from reservation
			join ticket_own on re_to_num = to_num
			join ticket on to_ti_num = ti_num
			join seat on se_num = re_se_num
			join kind on ki_num = se_ki_num
			join branch on br_num = se_br_num
			where  re_me_id = #{memberId}
			ORDER BY re_register_date DESC 
	 		limit #{cri.pageStart}, #{cri.perPageNum}
		</select>
		<!-- 예약 전체 수 가져오기 -->
		<select id="selectBookTotalCount" resultType="int">
			select count(*)
			from reservation
			where re_me_id = #{memberId}
		</select>
		
	<!-- [예약 관리 > 나의 예약 내역 > 예약 상세 내역] -->
		<!-- 캐비넷 이용권 이름 가져오기	 -->
		<select id="selectTicketName" resultType="String">
			select ti_name
			from reservation
			join ticket_own on re_to_num = to_num
			join ticket on to_ti_num = ti_num
			where re_num = #{re_num}
		</select>
		
		
	<!-- [스터디 관리 > 내가 찜한 스터디]	 -->
		<!-- 아이디로 내가 찜한 스터디 가져오기 -->
		<select id="selectFavoriteList" resultMap="gather">
			select ga_num, ga_title, ga_me_id, me_name,
				st_num, st_image, st_re_name, st_now_people, st_total_people, st_state
  			from study
  			join gather on ga_st_num = st_num
  			join member on me_id = st_me_id
            join want on wa_ga_num = ga_num
			WHERE  
				ga_me_id = #{memberId}
			and wa_state = 1
			<if test="cri.filter == 'on'">
				AND st_state = 1
			</if>
			ORDER BY ga_num DESC
		</select>
		
		<!-- 내가 찜한 스터디의 태그들 가져오기 -->
		<select id="selectFavoriteTagList" resultType="kr.kh.RLab.vo.TagRegisterVO">
			SELECT *
			FROM tag_register
			join study on tr_st_num = st_num
			join gather on ga_st_num = st_num
			join want on wa_ga_num = ga_num
			where wa_state = 1
		</select>
		
		<!-- 내가 찜한 모집글의 수 -->
		<select id="selectFavoriteTotalCount" resultType="int">
			select count(*)
			from want
            where wa_me_id = #{memberId}
			and wa_state = 1
		</select>
		
	<!-- [스터디 관리 > 내가 개설한 스터디]	 -->
		<!-- 아이디로 내가 개설한 스터디 가져오기 -->
		<select id="selectOpenList" resultType="kr.kh.RLab.vo.StudyVO">
			select *
  			from study
			WHERE  
				st_me_id = #{memberId}
			<if test="cri.filter == 'on'">
				AND st_state = 1
			</if>
			ORDER BY st_num DESC
			limit #{cri.pageStart}, #{cri.perPageNum}
		</select>
		<!-- 내가 개설한 스터디 개수 -->
		<select id="selectOpenTotalCount" resultType="int">
			select count(*)
			from study
            where st_me_id = #{memberId}
            <if test="cri.filter == 'on'">
				AND st_state = 1
			</if>
		</select>
		
	<!-- [스터디 관리 > 진행중인 스터디] -->
		<!-- 아이디로 진행중인 스터디 가져오기 (내가 회원으로 들어가 있는 스터디) -->
		<select id="selectProgressList" resultMap="studyMember">
			SELECT *
			FROM study_member
			join study on sm_st_num = st_num
			WHERE  
				sm_me_id = #{memberId}
			<if test="cri.filter == 'on'">
				AND st_state = 1
			</if>
			ORDER BY st_num DESC
			limit #{cri.pageStart}, #{cri.perPageNum}
		</select>
		
		<!-- 진행중인 스터디 개수 -->
		<select id="selectProgressTotalCount" resultType="int">
			SELECT count(*)
			FROM study_member
			join study on sm_st_num = st_num
            where st_me_id = #{memberId}
            <if test="cri.filter == 'on'">
				AND st_state = 1
			</if>
		</select>
		
		<!-- 스터디 멤버 등급 -->
		<select id="selectSmAuthority" resultMap="studyMember">
			SELECT sm_authority
			FROM study_member
			join study on sm_st_num = st_num
            where sm_me_id = #{memberId}
             <if test="cri.filter == 'on'">
				AND st_state = 1
			</if>
		</select>
		
	<!-- [작성글 관리 > 나의 게시글] -->
		<!-- 아이디로 작성 게시글 목록 가져오기  -->
	  	<select id="selectBoardListById" resultType="kr.kh.RLab.vo.BoardVO">
	 		SELECT board.bo_num, study.st_name, board.bo_title, member.me_name, board.bo_reg_date 
	 		FROM board
	 		JOIN study ON board.bo_st_num = study.st_num
	 		JOIN member ON board.bo_me_id = member.me_id
	 		where board.bo_me_id = #{memberId}
	 		ORDER BY board.bo_reg_date DESC 
	 		limit #{cri.pageStart}, #{cri.perPageNum}
	  	</select>
	  	
	  	<!-- 로그인한 회원이 작성한 게시글 전체 수 가져오기  -->
	  	<select id="selectPostBoardTotalCount" resultType="int">
	  		select count(*)
			from board
			where bo_me_id = #{memberId}
	  	</select>
		
		
  	<!-- [작성글 관리 > 나의 스크랩] -->
  		<!-- 아이디로 스크랩한 게시글 목록 가져오기  -->	
  		<select id="selectScrapListById" resultMap="scrap">
		    SELECT sc_num, st_name, bo_title, bo_num, me_name, bo_reg_date
			FROM board
			JOIN study ON board.bo_st_num = study.st_num
		    JOIN member ON board.bo_me_id = member.me_id
			JOIN scrap ON board.bo_num = scrap.sc_bo_num
			WHERE scrap.sc_me_id = #{memberId} AND scrap.sc_state = 1
			limit #{cri.pageStart}, #{cri.perPageNum}
   		</select>
   		
    	<!-- 로그인한 회원이 스크랩한 게시글 전체 수 가져오기  -->	
	    <select id="selectScrapBoardTotalCount" resultType="int">
	  		select
				count(*)
				from scrap
				where sc_me_id = #{memberId}
	  	</select>
	  	
			
	  	
	<!-- [작성글 관리 > 나의 모집글] -->
  		<!-- 아이디로 내가 쓴 모집글 가져오기 -->	
  		<select id="selectGatherListById" resultMap="gather">
  			select ga_num, ga_title, ga_me_id, me_name,
  				st_num, st_image, st_re_name, st_now_people, st_total_people, st_state
  			from study
  			join gather on ga_st_num = st_num
  			join member on me_id = st_me_id
			WHERE  
				ga_me_id = #{memberId}
			<if test="gatherCri.filter == 'on'">
				AND st_state = 1
			</if>
			ORDER BY ga_num DESC
			limit #{gatherCri.pageStart}, #{gatherCri.perPageNum}
		</select>
		
  		<!-- 내가 쓴 모집글 스터디의 태그들 가져오기 -->		
		<select id="selectTagListById" resultType="kr.kh.RLab.vo.TagRegisterVO">
			select 	* from tag_register
		</select>
		
		<!-- 로그인한 회원이 작성한 모집글 전체 수 가져오기 -->	
	    <select id="selectGatherTotalCount" resultType="int">
	  		select
				count(*)
				from gather
				where ga_me_id = #{memberId}
	  	</select>
	  	
		<select id="selectGather" resultType="kr.kh.RLab.vo.GatherVO">
			select * 
				from gather
				where ga_st_num = #{st_num}
		</select>
		
		<!-- 내가 쓴 모집글의 찜 여부 가져오기 -->
		<select id="selectWantListById" resultType="Integer">
			SELECT ga_st_num 
				FROM want 
				join gather on ga_num = wa_ga_num
				where wa_state=1 and wa_me_id = #{me_id}
		</select>
		
		<!--  내 펫 정보가져오기 -->
		<select id="selectMyPet" resultType="kr.kh.RLab.vo.GrowthVO">
			select * from growth
				join pet on  pe_num = gr_pe_num
				join evolution on ev_num = gr_ev_num
				where gr_me_id = #{me_id};
		</select>
		
		<!-- 내 펫 경험치가져오기 -->
		<select id="selectPetExp" resultType="kr.kh.RLab.vo.GrowthVO">
			select * from growth 
				join pet on gr_pe_num = pe_num
				join exp on pe_final_level = ex_level
				where gr_me_id = #{me_id};
		</select>
</mapper>