<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.NoticeDAO">
<select id="selectAllNotice" resultType="kr.kh.RLab.vo.NoticeVO">
	SELECT * FROM notice
	WHERE no_title LIKE CONCAT('%', #{cri.search}, '%')
	<if test="cri.type != 0">
		AND no_nt_num = #{cri.type}
	</if>
	ORDER BY 
		<if test="cri.sort == ''">no_num DESC</if>
		<if test="cri.sort == 'date'">no_register_date DESC</if>
		<if test="cri.sort == 'views'">no_views ASC</if>
	LIMIT #{cri.pageStart}, #{cri.perPageNum}
</select>
<select id="selectNoticeTotalCount" resultType="Integer">
	select count(*) from (
		select * from notice
		where no_title LIKE CONCAT('%', #{cri.search}, '%')
		<if test="cri.type != 0">
			AND no_nt_num = #{cri.type}
		</if>
	)tmp
</select>
<select id="selectAllNoticeType" resultType="kr.kh.RLab.vo.NoticeTypeVO">
	select * from notice_type
</select>
<insert id="insertNotice">
	insert into notice(no_nt_num, no_title, no_me_id, no_content, no_register_date)
	values(#{no.no_nt_num}, #{no.no_title}, #{me_id}, #{no.no_content}, now())
</insert>
<select id="selectNoticeByNonum" resultType="kr.kh.RLab.vo.NoticeVO">
	select * from notice
	where no_num = #{no_num}
</select>
</mapper>