<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.ReservationDAO">
	<select id="selectAllPointById" resultType="int">
		select ifnull(sum(po_amount),0) from point where po_me_id = #{me_id} and po_state = 1
	</select>

</mapper>
