<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.ReservationDAO">
	<select id="selectAllPointById" resultType="int">
		select sum(po_amount) from point where po_me_id = #{me_id} and po_state = 1
	</select>
	<select id="selectAllBranch" resultType="kr.kh.RLab.vo.BranchVO">
		select * from branch
	</select>
	<select id="selectBranchBySearchName" resultType="kr.kh.RLab.vo.BranchVO">
		select * from branch where br_name like #{search}
		<if test="region == ''"></if>
		<if test="region != ''"> and br_re_name = #{region}</if>
	</select>
</mapper>
