<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.RLab.dao.ScrapDAO">

 	<select id="findScrap" resultType="kr.kh.RLab.vo.ScrapVO">
        SELECT * FROM scrap WHERE sc_me_id=#{sc_me_id} AND sc_bo_num=#{sc_bo_num}
    </select>
    
    <select id="findScrap2" resultType="kr.kh.RLab.vo.ScrapVO">
    	 SELECT * FROM scrap WHERE sc_me_id=#{me_id}
    </select>

    <insert id="insertScrap">
        INSERT INTO scrap (sc_me_id, sc_bo_num, sc_state)
        VALUES (#{sc_me_id}, #{sc_bo_num}, #{sc_state})
    </insert>

    <update id="updateScrap">
        UPDATE scrap
        SET sc_state=#{sc_state}
        WHERE sc_me_id=#{sc_me_id} AND sc_bo_num=#{sc_bo_num}
    </update>

   
    <select id="getScrapCountByBoard" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM scrap WHERE sc_bo_num=#{bo_num} AND sc_state=1
    </select>
    
    <select id="selectScrapListById" resultType="kr.kh.RLab.vo.BoardVO">
	    SELECT board.bo_num, study.st_name, board.bo_title, member.me_name, board.bo_reg_date
		FROM board
		JOIN study ON board.bo_st_num = study.st_num
		JOIN member ON board.bo_me_id = member.me_id
		JOIN scrap ON board.bo_num = scrap.sc_bo_num
		WHERE member.me_id = #{memberId} AND scrap.sc_state = 1;
    </select>
    
    </mapper>