/* main */
main {
	width: var(- -body_size);
	margin-top: 100px;
}

#rc_new_study_main_container {
	display: flex;
	flex-direction: column;
	height: auto;
}

#rc_new_study_main_container .main_title {
	text-align: center;
	margin-bottom: 30px;
}

.temporary_storage_box {
	display: flex;
	justify-content: flex-end;
	width: 930px;
	margin: 0 auto;
	text-align: left;
}

.call_temporary_storage {
	appearance: none;
	border: 0;
	font-weight: bold;
	background-color: var(- -color_yellow);
	width: 175px;
	height: 40px;
	border-radius: var(- -border_radius_3);
	cursor: pointer;
	padding: 10px;
}

#rc_new_box {
	padding: 50px;
	width: 830px;
	justify-content: center;
	margin: 0 auto;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.top_box {
	display: grid;
	grid-template-columns: 150px 100px 150px;
	column-gap: 50px;
}

.ns_title_box {
	width: 100%;
	border-radius: var(- -border_radius_4);
	border: 1px solid black;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 15px;
	margin: 10px 0 20px 0;
	background-color: white;
}

.ns_title_box .ns_title {
	width: 100%;
	border: none;
	outline: none;
	justify-content: center;
	font-size: 14px;
	vertical-align: 2px;
}

.ns_banner_box {
	margin: 3px 0 20px 0;
}

.ns_banner_box .ns_banner {
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
}

.ns_tag_box {
	width: 100%;
	border-radius: var(- -border_radius_4);
	border: 1px solid black;
	box-sizing: border-box;
	height: 40px;
	padding: 10px 15px;
	margin: 10px 0 20px 0;
	background-color: white;
}

.ns_tag_box .ns_tag {
	width: 100%;
	border: none;
	outline: none;
	justify-content: center;
	font-size: 14px;
	vertical-align: 2px;
}

.ns_region_box {
	margin-top: 3px;
}

#choose_region {
	height: 36px;
	border-radius: var(- -border_radius_4);
	padding: 8px;
	font-weight: bold;
	margin: 10px 0 20px 0;
}

.ns_people_box {
	margin-top: 3px;
}

.ns_people_box .ns_people {
	width: 90px;
	height: 34px;
	font-size: 15px;
	text-align: center;
	border-radius: var(- -border_radius_4);
	border: 1px solid black;
	background-color: white;
	margin: 10px 0 20px 0;
}

.ns_finish_date_box {
	margin: 3px 0 20px 0;
}

.ns_finish_date_box .yes_finish, .no_finish {
	display: inline-block;
	width: 50px;
	height: 23px;
	border-radius: var(- -border_radius_4);
	border: 1px solid black;
	cursor: pointer;
	text-align: center;
	padding: 5px;
	margin: 10px 5px 0 0;
}

.datepicker {
	width: 130px;
	margin-top: 5px;
	padding: 5px;
}

.ns_introduce_box {
	margin: 3px 0 20px 0;
	background-color: white;
	border-radius: var(- -border_radius_4);
}

.ns_introduce_box .ns_introduce {
	width: 800px;
	height: 40px;
	border: 1px solid black;
	justify-content: center;
	outline: none;
	font-size: 14px;
	vertical-align: 2px;
	padding: 5px 15px;
	border-radius: var(- -border_radius_4);
}

.datepicker {
	display: none;
	border-radius: var(- -border_radius_4);
}

#rc_new_study_main_container .btn_box {
	display: flex;
	width: 900px;
	justify-content: center;
	margin: 0 auto;
}

#rc_new_study_main_container .ts_study_btn {
	width: 130px;
	height: 45px;
	background-color: var(- -color_yellow);
	border-radius: var(- -border_radius_3);
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	box-shadow: 2px 2px 5px var(- -color_light-grey);
	justify-content: center;
	margin: 5px;
}

.make_study_btn {
	width: 130px;
	height: 45px;
	background-color: var(- -color_blue);
	border-radius: var(- -border_radius_3);
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	box-shadow: 2px 2px 5px var(- -color_light-grey);
	justify-content: center;
	margin: 5px;
}

/* Footer */
footer {
	margin-top: 150px;
}

footer .container {
	width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.info_container {
	margin-top: 25px;
}

.info_container .direct_num_box {
	float: left;
	width: 300px;
	height: 180px;
}

.direct_num_box .list_tel {
	margin-top: 5px;
}

.direct_num_box .item_tel {
	margin-left: 10px;
}

.direct_num_box .link_tel {
	font-size: 18px;
	margin-top: 3px;
	display: inline-block;
}

.info_container .info_right_container {
	float: right;
}

.info_container .info_box_right {
	float: left;
	width: 140px;
	height: 180px;
	margin-right: 20px;
}

.info_container .info_box_right .info_title {
	margin-bottom: 5px;
}

.info_container .info_box_right li {
	padding-top: 5px;
}

footer .corp_container {
	margin-top: 10px;
}

footer .corp_container .link_corp {
	padding-left: 7px;
	font-size: 13px;
}

footer .corp_container .link_corp::before {
	width: 1px;
	height: 11px;
	content: '';
	display: inline-block;
	margin-right: 10px;
	background-color: grey;
}

footer .corp_container .link_corp:nth-child(1) {
	padding: 0;
}

footer .corp_container .link_corp:nth-child(1)::before {
	display: none;
}

/* background */
.background_bbls {
	position: absolute;
	height: 1200px;
	top: 348px;
	display: flex;
	width: 100%;
	z-index: -10;
	overflow: hidden;
}

.background_bbls .bubble {
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: var(- -border_radius_1);
	background-color: var(- -color_blue);
}

.big_bbls .bubble:nth-child(1) {
	top: 927px;
	left: -385px;
	background-color: var(- -color_blue);
	width: 1600px;
	height: 1600px;
}

.big_bbls .bubble:nth-child(2) {
	top: 673px;
	left: 988px;
	background-color: var(- -color_mint);
	width: 1080px;
	height: 1080px;
	z-index: -20;
}

.big_bbls .bubble:nth-child(3) {
	top: 1075px;
	left: 863px;
	background-color: var(- -color_yellow);
	width: 1290px;
	height: 1290px;
}

.big_bbls .bubble:nth-child(4) {
	top: 966px;
	left: 804px;
	background-color: var(- -color_black);
	width: 300px;
	height: 300px;
	z-index: -30;
	opacity: 30%;
}

.small_bbls .bubble:nth-child(1) {
	top: 296px;
	left: -114px;
	background-color: var(- -color_mint);
	width: 400px;
	height: 400px;
}

.small_bbls .bubble:nth-child(2) {
	top: 77px;
	left: 1616px;
	background-color: var(- -color_yellow);
	width: 250px;
	height: 250px;
}

.file_box {
	width: 100px;
	height: 200px;
	border: 1px solid black;
	font-size: 50px;
	text-align: center;
	line-height: 200px;
	font-weight: bold;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}

.ns_banner_box .btn-times, .ns_banner_box .btn-times {
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.delete_btn {
	cursor: pointer;
	opacity: 40%;
	height: 18px;
}
.delete_btn2 >img{
	cursor: pointer;
	opacity: 40%;
	height: 18px;
}
