/* main */
main{
    width: var(--body_size);
    margin: 0;
    margin-top: 130px;
}
main #main_container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/* aside(left_menu) */
 #main_container .left_menu_container{
	display: flex;
	justify-content: center;
	width: 200px;
	height: 430px;
	padding: 60px 20px;
	border: 2px solid #020a17;
	border-radius: var(--border_radius_2);
	box-sizing: border-box;
	background-color: var(--color_beige);
}
.left_menu_container .left_menu{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		gap: 50px;
		font-size: 16px;
		font-weight: 800;
}
.left_menu .list_items{
		display: flex;
		flex-flow: column;
		gap: 5px;
}
.list_items .list_item{
		margin-bottom: 8px;
		white-space: nowrap;
}
.list_item:hover{
		color: var(--color_blue);
}

/* form_container */
input{
	width: 340px;
    height: 45px;
    border: var(--border_basic);
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
.input_window:focus{
	border: 1px solid #01f3a3;
	outline: 1px solid #01f3a3;
}
.form_container {
	width: 970px;
	height: 1000px;
	padding-left: 75px;
	box-sizing: border-box;
}
.form_container h1{
	margin-bottom: 20px;
}
.form_container form{
	width: 95%;
	display: flex;
	flex-flow: column;
	gap: 45px;
}
form .input_container{
	display: flex;
	height: 67px;
	justify-content: space-between;
	gap: 10px;
}
.input_container label{
	font-size: 18px;
	font-weight: 700;
}
.item_container{
	width: 500px;
	height: 100%;
	display: flex;
	gap: 25px;
}
.input_box{
	width: 340px;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	gap: 5px;
}
.input_box:nth-child(2), .input_box:nth-child(3){
	margin-right: 162px;
}
.check_btn{
	width: 135px;
	font-size: 14px;
	border: none;
	background-color: var(--color_mint);
	border-radius: var(--border_radius_2);
	cursor: pointer;
	padding: 10px;
	box-sizing: border-box;
}
.check_btn:hover{
	background-color: #14c188;
}
label.error{
 color : red;
 font-size : 12px;
 white-space: nowrap;
}
form .submit_container{
	display: flex;
	justify-content: center;
}
.submit_container .submit_btn{
	display: flex;
	justify-content: center;
	width: 230px;
	height: 60px;
	border: none;
	background-color: var(--color_blue);
	border-radius: var(--border_radius_3);
	font-size: 20px;
	font-weight: 700;
	box-sizing: border-box;
	box-shadow: var(--box-shadow-light);
	margin-top: 15px;
	cursor: pointer;
}
.submit_btn:hover{
	background-color: #4e89cc;
}
/* footer */
footer{
margin-top: 150px;
}
footer .container{
		width: 1200px; 
		margin: 0 auto; 
		padding: 50px;
}
.info_container{
margin-top: 25px;
}
.info_container .direct_num_box{
		float: left;
		width: 300px;
		height: 180px;
}
.direct_num_box .list_tel{
		margin-top: 5px;
}
.direct_num_box .item_tel{
		margin-left: 10px;
}
.direct_num_box .link_tel{
		font-size: 18px;
		margin-top: 3px;
		display: inline-block;
}
.info_container .info_right_container{
		float: right;
}
.info_container .info_box_right{
		float: left;
		width: 140px;
		height: 180px;
		margin-right: 20px;
}
.info_container .info_box_right .info_title{
		margin-bottom: 5px;
}
.info_container .info_box_right li{
		padding-top: 5px;
}
footer .corp_container{
		margin-top: 10px;
}
footer .corp_container .link_corp{
		padding-left: 7px;
		font-size: 13px;
}
footer .corp_container .link_corp::before{
		width: 1px;
		height: 11px;
		content: '';
		display: inline-block;
		margin-right: 10px;
		background-color: grey;
}
footer .corp_container .link_corp:nth-child(1){
		padding: 0;
}
footer .corp_container .link_corp:nth-child(1)::before{
		display: none;
}