/* 나의 게시글, 나의 스크랩에서만 헤더가 이상함*/
.top_menu_container{
  line-height: 50px;
}

.list_item{
  height:60px;
}

.select_box_area{
  height: 29.5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.select_view option{
  width: 200px;
  border-radius: 5px;
}

/* 게시판 */
table { 
  border-collapse: collapse; 
}
td:nth-child(1){
	width: 20px;
}
td:nth-child(2){
	width: 50px;
}
td:nth-child(3){
	width: 80px;
}
td:nth-child(4){
	width: 35px;
}
td:nth-child(5){
	width: 40px;
}

.board_title_list{
  box-sizing: border-box;
  background-color: var(--color_yellow);
  font-size: 20px;
  font-weight: bold;
}
.board_list {
  border-bottom: 1px solid var(--color_yellow);
  height: 50px;
}
.board_list:hover{
  background-color: #f0eb583b;
  cursor: pointer;
}
.board_list a{
  width: 100px;
  height: 100px;
  background-color: aqua;
}
.post_title{
  font-weight:bold;
  font-size: 15px;
  color:rgb(67, 66, 66)
}
.table_area{
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 42, 42);
}

.fa-solid{margin-left: 5px; margin-right: -10px;}

.border_box{
  width: 100%;
}

.border_box .title_list_item{
  height: 50px;
  font-size: 17px;
}
.border_box [class^=board_list_]{
  height: 61px;
  border-bottom: 1px solid black;
}
.background_bbls{
  height: 1253px;
}

.bd_list_item{padding-left: 5px;}