.tab-content{
  flex-flow: column;
}
  
  .op {
    position: relative;
  }


  /* 콘텐트 박스 */
  .content_box{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 15px;
  }

  .row_study_card{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    box-sizing: border-box;
  }
  .study_card_box{
    position: relative;
    width: 260px; 
    height: 300px; 
    border: 2px solid var(--color_black); 
    float: right; 
    overflow: hidden;
    box-shadow: 5px 5px 0px rgb(7, 7, 7);
    border-radius: var(--border_radius_4);
    margin-right: 15px;
  }
  .study_card_box:nth-child(3n){
    margin-right: 0;
  }
  .study_img_box {
    width: 100%; 
    height:40%; 
	overflow: hidden; 
  }
  .study_img_box img{
  	width: 100%;
  }

  .study_card_container .study_info{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%; 
    height: 180px;
    padding: 5px 10px 10px 10px;
    background-color: white;
    box-sizing: border-box;
  }

  .study_info2 {
    padding-top: 110px;
  }

  .study_tag_info{
    display: flex;
    width: 100%;
    height: 75px;
    padding: 5px 0 ;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  .study_card_container .study_tag{
    display: flex;
    height: 30px;
    border-radius: var(--border_radius_2); 
    text-decoration: none; 
    background-color: var(--color_blue);
    color: var(--color_black); 
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .study_card_container .study_tag_info :nth-child(2n){
    background-color: var(--color_mint);
  }
  .study_card_container .study_recruit_content_box{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .study_card_container .study_recruit_content{
    font-size: 18px; 
    color: var(--color_black);

  }
  .study_card_container .study_content{
    display: flex; justify-content: space-between;
  
  }
  .study_card_container .study_content .study_recruiting{
  border: 2px solid var(--color_black); background-color: var(--color_yellow);
  text-align: center; border-radius: var(--border_radius_4); color: var(--color_black);
  font-size:14px; width: 100px; height: 30px; line-height: 28px;
  }

  .like_img{
    width: 30px; height: 30px;
    background-image: url(../../img/like_on_red.png);
    background-size: cover;
  }
  
   .unlike_img{
    width: 30px; height: 30px;
    background-image: url(../../img/love_off.png);
    background-size: cover;
  }
  /* 모집완료 */
  .sad_container{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 165, 165, 0.699);

  }
  .sad_box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .sad_img {
    background-image: url(../../img/sad.png);
    background-size: cover;
    width: 49px;
    height: 49px;
  }
  .sad_img_content {
    font-weight: bold;
    font-size: 25px;
  }

  #study_filter {
    position: absolute;
    top: 41px;
    right: 25px;
  }
  
  #box_study_filter::after{
    display: block;
    content: '';
    clear: both;
  }