/* 나의 게시글, 나의 스크랩에서만 헤더가 이상함*/
.top_menu_container{
  line-height: 50px;
}

.list_item{
  height:60px;
}
.select_box_area{
  height: 29.5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.select_view option{
  width: 200px;
  border-radius: 5px;
}

/* 게시판 */
table { 
  border-collapse: collapse; 
}

.board_title_list{
  box-sizing: border-box;
  background-color: var(--color_mint);
  font-size: 20px;
  font-weight: bold;
}
.board_list {
  border-bottom: 1px solid var(--color_mint);
  height: 50px;
}
.board_list:hover{
  background-color: #01f3a225;
  cursor: pointer;
}
.post_title{
  font-weight:bold;
  font-size: 15px;
  color:rgb(67, 66, 66)
}
.table_area{
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 42, 42);
}

.fa-solid{margin-left: 5px; margin-right: -10px;}

.border_box{
  width: 100%;
}

.border_box .title_list_item{
  height: 50px;
  font-size: 17px;
}

.background_bbls{
  height: 1253px;
}
.icon_scrab_box{
  height: 50px;
  padding: auto;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.icon_scrab{
  width: 32px;   
  height: 50px;
  background-size: 30px 50px;
  background-image: url(../../img/favorite_tag.png);
  
}