.nullMsg{
	width: 100%;
	display: flex;
	justify-content: center;
}

/* 모집 부분 - study-card-container */
.study_card_container{
 
}

.op {
  position: relative;
}

/* filter-box, content-box, page-box 부모 */
.tab-content{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 20px;
}

.study_card_box{
  width: 260px; 
  height: 329px; 
  border: 2px solid var(--color_black); 
  box-shadow: 5px 5px 0px rgb(7, 7, 7);
  border-radius: var(--border_radius_4);
  overflow: hidden;
  margin-right: 15px;
}
.study_card_box:nth-child(3n){
  margin-right: 0;
}
/* 보기 박스 */
.filter_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#study_filter{
  padding: 3px; 
}

/* 콘텐트 박스 */
.content_box{
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.row_study_card{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.study_info2 {
  padding-top: 110px;
}


.study_recruiting2.gr2 {
  background-color: #ccc;
}

.gr2 {
  background-color: var(--color_light-grey) !important;
}

.study_card_container .study_content{
  display: flex; justify-content: space-between;

}

.study_recruiting2{
  border: 2px solid var(--color_black); background-color: var(--color_blue);
  text-align: center; border-radius: var(--border_radius_4); color: var(--color_black);
  font-size:14px; width: 130px; height: 30px; line-height: 38px;
  padding-bottom: 8px;
}

.study_recruiting3{
  border: 2px solid var(--color_black); background-color: var(--color_mint);
  text-align: center; border-radius: var(--border_radius_4); color: var(--color_black);
  font-size:14px; width: 130px; height: 30px; line-height: 38px;
  padding-bottom: 8px;
}



.ing_study {
  text-align: center; 
  margin-bottom: 20px; 
}

.ing_study_img {
border: var(--border_basic);
border-radius: var(--border_radius_1);
width: 170px; height: 170px;
overflow: hidden;
justify-content: center;
display: flex;
align-items: center;
margin: 0 auto; 
margin-top: -90px;
background-color: white;
}


.ing_study_title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
}

.ing_study_title2 {
  font-size: 11px;
}

.ing_study_content {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-top: 20px; 
}


.ing_study_container {
  width: 100%;
  background-color: var(--color_blue);
  height: 170px;
  position: relative;
}

.ing_study_container2 {
  width: 100%;
  background-color: var(--color_mint);
  height: 170px;
  position: relative;
}
/* study_card_box호버시 btn_remove가 나타남 */
.study_card_box:hover >.btn_remove{
  display: block;
}
.btn_remove{
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../img/delete.png);
  z-index: 10;
  opacity: 50%;
  margin: 5px;
  right: 0;
  cursor: pointer;
}
.btn_remove:hover{
  opacity: 80%;
}

/* 넘기기 버튼 */
.study_card_container .page_box{
 /* margin-top: 20px; */
  display: flex; 
  justify-content: center;
}
.study_card_container .page_box>*{float: left; }
.study_card_container .page_num+.page_num{margin-left: 20px;}
.study_card_container .page_box .selected{
  color: var(--color_black); font-weight: 500;
}
.study_card_container .page_box span{
  line-height: 30px; font-size: 25px; color: rgb(62, 62, 62)
}



#box_study_filter::after{
  display: block;
  content: '';
  clear: both;
}