/* main div */
.main_container{
  display: flex;
  flex-flow: row; 
  height : 1100px;
}
#main_container {
	float:right;
}
.left_menu_container_top {
	float:left;
	
}
/* 왼쪽 메뉴바 */
.left_menu_container{
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  padding: 40px 0;
  border: 2px solid #020a17;
  border-radius: var(--border_radius_2);
  box-sizing: border-box;
  background-color: var(--color_beige);
}
.left_menu_container .left_menu{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 16px;
  font-size: 15px;
  font-weight: 800;
}
.leave {
  position: relative;
  bottom: -120px;
  left: 5px;
} 
.left_menu a:visited {
  font-weight: bold; 
  /*클릭했을때 굵어지면서 검정색으로 바뀌게 나중에 수정 */
}
/* 나의 게시글, 나의 스크랩에서만 헤더가 이상함*/
.top_menu_container{
  line-height: 50px;
}

.list_item{
  height:60px;
}

#my_container{padding-top: 32px;}
.study_card_container{
  padding-left: 30px;
}

#my_container {
	margin-top: -7px; /* 위쪽 마진을 음수값으로 조정하여 보더가 붙어있는 스타일로 변경 */
	height:850px;
	width: 830px;
	position: relative;
	border: var(--border_basic); 
	border-radius: var(--border_radius_4);
	padding: 30px;
	background-color: var(--color_beige);
	overflow: hidden;
	box-sizing: border-box;
}
.select_box_area{
  height: 29.5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.select_view option{
  width: 200px;
  border-radius: 5px;
}
table { border-collapse: collapse; }
.board_title_list{
  border-top: 2px solid rgba(33, 33, 33, 0.393);
  border-bottom: 2px solid rgba(33, 33, 33, 0.393);
}
.board_list {
  border-bottom: 1px solid rgba(97, 97, 97, 0.634);
}
.board_list_1,
.board_list_3,
.board_list_5,
.board_list_7,
.board_list_9,
.board_list_11{
  background-color: rgba(128, 128, 128, 0.072);
}
.post_title{
  font-weight:bold;
  font-size: 17px;
  color:rgb(67, 66, 66)
}
[class^=table_area]{
  height: 684px;
  font-size: 15px;
  text-align: center;
  color: rgb(43, 42, 42);
}
.fa-solid{margin-left: 5px; margin-right: -10px;}
/* .table_area_3, .table_area_2{display: none;} */
.border_box{
  width: 100%;
}
.board_title_list{
  font-size: 20px;
  font-weight: bold;
}
.border_box .title_list_item{
  height: 80px;
}
.border_box [class^=board_list_]{
  height: 61px;
  border-bottom: 1px solid black;
}
.background_bbls{
  height: 1253px;
}
.icon_scrab_box{
  height: 50px;
  padding: auto;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.icon_scrab{
  width: 32px;   
  height: 50px;
  background-size: 30px 50px;
  background-image: url(../img/favorite_tag.png);
  
}
.bd_list_item{padding-left: 5px;}